[2019-06-24 09:53] vimukthi-git opened #1 "Handle subtrate extrinsic events"
Currently the client doesn't handle events returned from extrinsics.

[2019-06-24 11:58] vimukthi-git opened #2 "Implement storage query RPCs"
This is required for querying accounts state, balances, anchors etc.

[2019-07-15 14:44] vimukthi-git opened #3 "Implement transaction signing for extrinsic call using sr25519 signature scheme"
Sr25519 is based on the same underlying Curve25519 as its EdDSA counterpart, Ed25519. However, it uses Schnorr signatures instead of the EdDSA scheme. This task is to implement signing in the rpc client with Sr25519.

Currently transaction signing is implemented by executing `subkey` command provided by substrate at https://github.com/centrifuge/go-substrate/blob/master/author.go#L157.  The new im

[2019-07-31 09:16] vimukthi-git opened #10 "Testing rpc for GSRPC"

[2019-07-31 09:17] #2 closed

[2019-07-31 12:31] vimukthi-git opened #11 "Remove hardcoded account info in author.go"

[2019-08-06 08:32] #10 closed

[2019-08-06 08:48] #1 closed

[2019-08-06 08:48] #3 closed

[2019-10-15 09:10] philipstanislaus opened #26 "Implement Event and EventRecord types"

[2019-10-17 19:36] philipstanislaus commented on #11
Removed, see https://github.com/centrifuge/go-substrate-rpc-client/blob/master/signature/signature.go

[2019-10-17 19:36] #11 closed

[2019-10-17 19:36] philipstanislaus commented on #26
Types implemented, tests still missing.

[2019-10-24 08:20] #26 closed

[2019-11-28 10:17] philipstanislaus opened #38 "Calls and subscriptions should accept a context"
Calls should accept a context so they can be cancelled and can receive a timeout.

Subscriptions need a bit more investigation – a context could be used to cancel or timeout the subscription, but the current subscription logic already exposes an Unsubscribe method that can be used for both purposes.

[2019-12-05 06:09] hellowaldoli opened #43 "unsupported metadata version 9"
unsupported metadata version 9

How can support metadata version 9?

[2019-12-05 08:13] philipstanislaus commented on #43
Support will be added next week

[2019-12-16 10:30] hellowaldoli commented on #43
I tried again and found the same error

[2019-12-19 10:47] philipstanislaus commented on #43
We did not yet get to the upgrade. Would appreciate a PR if this is blocking you. Thanks!

[2019-12-19 12:21] boxhock commented on #43
@philipstanislaus How big of a PR are we talking to add support for metadata version 9? If noone were to create a PR, how long would you estimate it would take for you guys to get to this?

This is blocking us as well.

[2019-12-19 23:38] philipstanislaus commented on #43
@boxhock it's probably a few types only, but I'd need to look into it. We are just upgrading our chain and will need metadata v9 in the next few days – I will implement them next.

[2019-12-20 11:11] boxhock commented on #43
Awesome, thank you 👍

[2019-12-25 01:54] hellowaldoli commented on #43
This is blocking me and I hope to solve this problem, thank you

[2019-12-30 22:09] philipstanislaus commented on #43
@boxhock @hellowaldoli just came back from holidays and created a PR. Feel free to use that branch, I expect this to be reviewed and merged in the next days.

[2019-12-31 11:38] #43 closed

[2020-01-03 06:07] mym-xjl opened #49 "RUN Example_transactionWithEvents func ERROR"
Run "Example_transactionWithEvents" func in main_test.go, here "meta, err := api.RPC.State.GetMetadataLatest()" ret error is "type *types.StorageMetadata does not support Decodeable interface and could not be decoded field by field, error: type *types.StorageFunctionMetadataV5 does not support Decodeable interface and could not be decoded field by field, error: type *types.DoubleMapTypeV5 does not

[2020-01-03 07:45] mym-xjl commented on #49
The node I am connecting to is: “Kusama CC-3”

[2020-01-03 13:42] philipstanislaus commented on #49
Thanks for reporting this @mym-xjl . The issue comes most likely from the fact that there was a recent change in the hasher enum: https://github.com/paritytech/substrate/commit/bbb363f4320b4a72e059c0fca96af42296d5a6bf#diff-dd0e6529af8fd40ed337ed026cae22b8R276

Which version of [polkadot](https://github.com/paritytech/polkadot) are you running?

[2020-01-06 08:07] mym-xjl commented on #49
polkadot --version
polkadot 0.7.9-f23ce3e9-x86_64-linux-gnu

[2020-01-11 14:54] philipstanislaus commented on #49
@mym-xjl thanks for your reply.

Unfortunately we will most likely not get to solve this before mid of February, since our team is fully focussed on the launch of our next Testnet.

Would appreciate a PR though – happy to provide guidance and review in a timely manner. Many thanks!

[2020-01-16 13:35] boxhock opened #50 "Metadata version 10 support"
Seems like Substrate metadata versions are moving fast 🙃

[2020-01-17 07:10] philipstanislaus commented on #50
Working on the support right now, should be in before next week

[2020-01-17 09:41] philipstanislaus commented on #49
@mym-xjl I just updated GSRPC to support metadata v10 in #51, which includes the ability to decode the changed hasher enum.

This should solve your issue. Please comment here if this is still unsolved. Thanks!

[2020-01-17 09:41] #49 closed

[2020-01-17 10:08] #50 closed

[2020-01-17 10:09] philipstanislaus commented on #50
Merged :)

[2020-01-17 10:29] mym-xjl commented on #49
Thank you for your support. Happy Spring Festival~

[2020-01-17 13:40] boxhock commented on #50
Appreciate the quick turnaround on this :)

[2020-01-28 15:37] philipstanislaus opened #52 "Add missing event types to EventRecords"
It seems that multiple event types are currently missing. When a block contains one of those missing event types, decoding it throws an error like this:

`panic: unable to find field Elections_NewTerm for event #0 with EventID [8 0]`

[2020-02-19 12:07] nikosk686 opened #54 "Metadata version 11 support"
Hello @philipstanislaus  any plans on this?
I can give it a try, not sure if I can have it resolved on reasonable time thoough.

[2020-02-19 12:25] philipstanislaus commented on #54
Thanks for asking - this will be done in the next few days, we are upgrading substrate right now.

[2020-02-19 14:55] philipstanislaus opened #55 "Upgrade GSRPC"
To latest version

[2020-02-19 17:19] philipstanislaus opened #56 "Check presence of all types in metadata at initialization, fail early"
Currently, missing types are only detected when decoding. For events, this could mean that after several days, decoding might fail (e. g. a new term of the council).

[2020-02-24 10:02] tdmm opened #57 "blake2b"
this code :
func Test_SS58(t *testing.T) {
//seed := 0xdba9807c8606e46341dcac32dbf1c9ec25dae6a3bc386d83d8bde4d6ab72408e
	publicKey := "aa29cb6398bc70bfedbd4f7af69dd4c24b2d0b07ebb962699954c0e06d99112e"
	addr := "5FupQuyf8STcPCf3DfUPxhNWunxi8R4PiydFwUywdZiRE3cz"

	pub, err := hex.DecodeString(publicKey)
	if err != nil {
		panic(err)
	}

	checkSum := blake2b.Sum256(pub)
	d := base58.Decode(addr)

	fm

[2020-02-24 10:18] philipstanislaus commented on #57
If I understand correctly what you want to do (verifying the checksum of a public key against the address), then you should hash not just the pub key, but also the SS58 address type, as explained here: https://github.com/paritytech/substrate/wiki/External-Address-Format-(SS58)#checksum-types

I'm closing this issue since I believe it's not directly a problem with go-substrate-rpc-client. Please re

[2020-02-24 10:18] #57 closed

[2020-03-04 16:00] #54 closed

[2020-03-04 16:00] #55 closed

[2020-03-06 15:54] silentlight opened #61 "Query historical system events on archive node"
Hello,

I was wondering what would be the easies method to query historical system events from archive node. I understand that I can subscribe to get system events, but I was wondering, since I run archive node how could I get system events at specific heigh. Any help would be much appreciated.

[2020-03-09 11:37] philipstanislaus commented on #61
@silentlight just use `api.RPC.State.GetStorageLatest`, like this:

[code]

[2020-03-09 11:37] #61 closed

[2020-03-16 15:11] ansermino opened #63 "Decode Blocking Forever"
I have the following defined in my pallet:
[code]

And a corresponding Go declaration:
[code]

Calling `Decode` (inside `DecodeFromBytes()`) seems to never return. This only seems to be the case when the struct is non-empty.

Reproducible:
[code]

[2020-03-17 10:49] philipstanislaus commented on #63
Something seems to be wrong with the encoding – how exactly do you query the RPC state?

This test passes:

[code]

[2020-03-17 10:59] philipstanislaus commented on #63
The encoded string is definitely wrong, right now the decoder tries to decode `736330181` items for `VotesFor`.

[2020-03-17 11:22] philipstanislaus commented on #63
Changed decoding to error instead of trying to continue when no more bytes can be decoded: https://github.com/centrifuge/go-substrate-rpc-client/pull/64

[2020-03-17 12:06] ansermino commented on #63
The input was generated by using the storage key created by GSRPC to query via RPC in the substrate UI.

![Screenshot_2020-03-17_08-04-56](https://user-images.githubusercontent.com/14164624/76854733-07f89900-6826-11ea-81ca-4aca8ebab2e2.png)

[2020-03-17 12:19] philipstanislaus commented on #63
Can you send me a link to the substrate code declaring that storage item? Thanks!

[2020-03-17 12:25] ansermino commented on #63
https://github.com/ChainSafe/chainbridge-substrate/blob/c68f00d3608bade7fef61455b2d8ec5147ecfb36/src/lib.rs#L30-L36

[2020-03-17 16:01] philipstanislaus commented on #63
One more thing – please send me a link or snippet how you got the storage key. Thanks!

[2020-03-17 16:27] ansermino commented on #63
I was constructing the wrong key :man_facepalming:

Thanks for fixing the error handling!

[2020-03-17 16:27] #63 closed

[2020-03-17 16:39] philipstanislaus commented on #63
@ansermino no worries, at least there is no more hanging in GSRPC in the future in such cases :)

Also looking at the substrate code, the storage query should return an `Option<ProposalVotes>`, so you need to have a custom decoding logic to account for the `Option`.

[2020-03-18 17:16] ansermino opened #65 "Incompatibility with Other Chain Configs"
Extrinsics are failing when submitted to the [`substrate-node-template` chain](https://github.com/substrate-developer-hub/substrate-node-template).

[code]

GSRPC code can be found here: https://gist.github.com/ansermino/07df0dd8e35c522ec23c1d922860c786

This seems to have something to do with the type configuration for the chain (see https://polkadot.js.org/api/start/types.extend.html#impact-on-e

[2020-03-19 17:31] ansermino opened #66 "Fails to decode empty values"
Currently, scale will attempt to decode an empty value and fail with `expected more bytes, but could not decode any more`. This is related to the logic in #64.

[code]

Not 100% sure what a good way to resolve this is, happy to put in a fix if I can get some suggestions.

[2020-03-19 17:55] ansermino commented on #66
Perhaps this is sufficient: https://github.com/centrifuge/go-substrate-rpc-client/commit/a3a168e3a98b3a15a00cb79391b6bf27c75084bf

[2020-03-20 15:18] philipstanislaus commented on #66
`0x00` is not an empty byte array, but rather Scale's encoding for a `None` value of the `Option` type.

You are getting `0x00` when you encode a n`Option<Call>`, right?

In that case, you should also decode into a user defined `OptionCall` and handle `0x00` as `None`. An example is here in the codebase: https://github.com/centrifuge/go-substrate-rpc-client/blob/master/types/option_bool.go

[2020-03-20 21:50] ansermino commented on #66
Perhaps I've failed to identify the actual problem here.

When querying a storage item of type `Option<T>`, the returned type is `scale(T)` or `0`, not a scale encoded option. The result returned from `getStorageRaw()` is empty when I query a non-existent option type.

I can (and will) handle this case by adding a custom decode method, but this does seem to be a flaw in the storage retrieval mecha

[2020-03-20 22:07] philipstanislaus commented on #66
@ansermino can you give me an example for that from the Substrate code base? Happy to have a look on Monday.

[2020-03-20 22:57] ansermino commented on #66
Here's a snippet you can run against centrifuge-chain. `Authorship.Author` ([source](https://github.com/paritytech/substrate/blob/7c751574d8c53108e78440bfa5dffb80ab644972/frame/authorship/src/lib.rs#L158)) seems to always be none for a dev chain.

[code]

Fwiw:
![Screenshot_2020-03-20_18-56-17](https://user-images.githubusercontent.com/14164624/77212173-8d0cd800-6adc-11ea-9e2d-009e6ba17fa7.png)

[2020-03-21 16:44] robdefeo opened #67 "Call contract through RPC"
It is not possible to call a contract through the RPC client however it is supported in the [toolbox](https://polkadot.js.org/apps/#/toolbox).

![image](https://user-images.githubusercontent.com/1633235/77231434-c6078400-6b92-11ea-8f6d-f024520a5df8.png)

It is part of the contracts endpoint.

[2020-03-23 11:10] philipstanislaus commented on #67
You are right, that has not been implemented yet. Would much appreciate if you would add a PR for it!

[2020-03-24 12:19] philipstanislaus commented on #66
Thanks @ansermino , I dug a bit deeper into this, and you are right, they just return an empty byte slice if the value is `None`. This is not a SCALE/encoding problem though, but rather a storage interface problem.

I believe we should change `GetStorage`, `GetStorageLatest`, `GetChildStorage` and `GetChildStorageLatest` to return `(empty bool, err error)` instead of just `error`.

That way you ca

[2020-03-24 12:28] ansermino commented on #66
@philipstanislaus that makes a lot of sense.

My only note would be that returning `ok bool, err error` might be more idiomatic, where `ok` is true for non-empty values.

[2020-03-24 14:01] philipstanislaus commented on #66
Sounds good, should be fixed with b0e58dd . Let me know whether that works!

[2020-03-24 14:02] #66 closed

[2020-04-07 08:57] philipstanislaus commented on #65
@ansermino closing this as fixed by #68

[2020-04-07 08:57] #65 closed

[2020-04-09 15:38] Peacess opened #72 "Chain.GetBlock not work in 6f0547f2818d5fbc659d4a9be363bb4e02ab223d , but 461cf42e77c6d3b65fefa801a1aeddf04f1174cf"
Chain.GetBlock return error:   type *types.ExtrinsicSignatureV4 does not support Decodeable interface and could not be decoded fiel
final error is : errors.New("Not supported: l>4 encountered when decoding a compact-encoded uint")

[2020-04-09 19:24] silentlight commented on #61
When I updated to last commit to include metadatav11 I am getting this error:
` *types.StorageMetadataV10 does not support Decodeable interface and could not be decoded field by field`, `received unexpected storage hasher type 6`. Any idea what I am doing wrong?

[2020-04-14 08:00] philipstanislaus commented on #61
@silentlight thanks for the bug report. Please open a new issue for that. Thanks!

[2020-04-14 08:03] philipstanislaus commented on #72
@Peacess please provide more detail, e. g. which chain are you connected to?

[2020-04-14 08:46] silentlight opened #73 "Problem with metadatav11"
When I updated to last commit to include metadatav11 I am getting this error:
`*types.StorageMetadataV10 does not support Decodeable interface and could not be decoded field by field, received unexpected storage hasher type 6.`

[2020-04-14 10:32] phpmaple opened #74 "How to extend EventRecords to match my custom substrate node"
I have some custom events and types

[2020-04-14 11:03] vedhavyas commented on #74
Here is an example of how you can extend types.Events with your custom events on substrate - https://github.com/centrifuge/go-centrifuge/blob/develop/centchain/extrinsic_status_task.go#L214

[2020-04-14 11:12] phpmaple commented on #74
Thanks! and How I create custom types in my node, these could be in metadata, and
match to this client!

[2020-04-14 11:18] vedhavyas commented on #74
Not sure I understand your question :)

[2020-04-15 00:41] phpmaple commented on #74
If I have a type Trade struct In substrate node and it can be return when I query strorage or include in eventRecord payload

[2020-04-18 12:04] phpmaple opened #77 "How to parse extrinsics params of Call and associated with metadata"

[2020-04-18 12:05] #74 closed

[2020-04-19 11:08] nikosk686 opened #78 "storage AccountNonce not found within module System"
On `Example_makeASimpleTransfer` and wherever is applicable,
this `types.CreateStorageKey(meta, "System", "AccountNonce", signature.TestKeyringPairAlice.PublicKey, nil)`
shoud become
`types.CreateStorageKey(meta, "System", "Account", signature.TestKeyringPairAlice.PublicKey, nil)`

[2020-04-19 14:57] mikiquantum commented on #78
Thanks @nikosk686 for reporting it, would you create a PR to adapt it?

[2020-04-19 17:32] nikosk686 commented on #78
Hi @mikiquantum, I ve created a PR that changes all "AccountNonce" references with "Account".
Hope it is ok :)

[2020-04-20 08:07] phpmaple opened #80 "Public key (hex): 0x"
https://github.com/centrifuge/go-substrate-rpc-client/blob/6f0547f2818d5fbc659d4a9be363bb4e02ab223d/signature/signature.go#L41

after colon should be one or more space not exact one space

[2020-04-21 13:54] silentlight commented on #73
Any workaround for this issue?

[2020-04-22 16:53] #78 closed

[2020-04-23 16:56] silentlight commented on #73
@philipstanislaus Any idea on how to make it work?

[2020-04-27 08:17] alanchchen commented on #73
Hi @silentlight , I've made a patch myself. Not sure if it works for you.

https://github.com/consenlabs/go-substrate-rpc-client/commits/develop

[2020-04-27 08:47] kunzhangs312 opened #81 "NewSubstrateAPI error"
error message:
type *types.StorageMetadataV10 does not support Decodeable interface and could not be decoded field by field, error: type *types.StorageFunctionMetadataV10 does not support Decodeable interface and could not be decoded field by field, error: type *types.MapTypeV10 does not support Decodeable interface and could not be decoded field by field, error: received unexpected storage hasher

[2020-05-04 10:02] #52 closed

[2020-05-04 12:22] lucasvo commented on #80
@phpmaple thanks for reporting this. Would you like to submit a fix for this?

[2020-05-04 12:25] lucasvo commented on #73
@alanchchen do you think this could be turned into a pull request?

[2020-05-04 12:31] lucasvo commented on #72
@Peacess do you still have this issue?

[2020-05-13 07:47] tdmm commented on #81
I have the same error.

[2020-05-14 02:03] mikiquantum commented on #81
@kunzhangs312 & @tdmm Thanks for reporting this. I believe since Identity hasher was included here: https://github.com/paritytech/substrate/commit/dd97b1478b31a4715df7e88a5ebc6664425fb6c6#diff-3c162d5f4ec03ec67b7cb5a6ba1eb665
We didnt update the type mapping. We will review internally and create a PR soon.
Thanks!

[2020-05-14 12:59] zenghao1986 opened #82 "types.StorageMetadataV10 does not support Decodeable interface and could not be decoded field"
when i code this:
api, err := gsrpc.NewSubstrateAPI(mynoderul)
	if err != nil {
		panic(err)
	}
but occured this bug:
type *types.StorageMetadataV10 does not support Decodeable interface and could not be decoded field  .
How to fix this error?

[2020-05-15 06:31] zenghao1986 commented on #81
I have the same error too!

[2020-05-15 10:31] tdmm commented on #81
I am looking forward to this pr!

[2020-05-19 21:03] ansermino opened #83 "Signature package could use JSON instead of regex"
I believe that the version of subkey presently used supports JSON formatting which would likely be more reliable than regex and easier to upgrade.

Here's an example:
[code]

[2020-05-19 21:04] ansermino commented on #80
#83 might help with this

[2020-07-10 14:34] mikiquantum opened #84 "SomeOffline Event parsing error"
[code]
Add correct event parser

[2020-07-14 18:14] #84 closed

[2020-08-11 19:02] robdefeo commented on #82
Any progress on this?

[2020-08-15 10:07] robdefeo commented on #82
A new testnet beresheet is released v38 and this failed on that network. Currently mainnet is at v31 these same changes will be applied soon.
[code]

I can not see any documentation for how decoding works in `go-substrate-rpc-client` can you provide an update on if you will fix this? This update will break the `go-substrate-rpc-client` soon.

[2020-08-16 15:41] robdefeo commented on #81
I am having this error too, any update on the PR for this?

Looks like this is a duplication of https://github.com/centrifuge/go-substrate-rpc-client/issues/82

[2020-08-17 14:17] mikiquantum commented on #81
We are upgrading our chain as well in the next 4 weeks, and we will need to fix this at the same time. In the meantime any contributions are more than welcome.

[2020-08-20 01:56] mikiquantum commented on #81
Created this PR #89 to attempt to fix the above issues. If you could have a look and test out in your respective chains would be great.

[2020-08-25 13:11] #81 closed

[2020-08-26 02:00] Laighno opened #91 "events decode error"
I get a storage raw `0x0c0000000000000080e36a09000000000200000001000000000000000000000000000200000002000000000000ca9a3b00000000020000` with key `System` `Events`. And this 55 bytes hex could not be decode with error `unable to decode field 2 event #1 with EventID [1 0], field Indices_IndexAssigned: unexpected EOF`.

[2020-08-26 06:54] dcoinapi opened #92 "Decode failed of GetStorage result of System Events"
Following is my golang test case:

[code]

But `DecodeEventRecords` returns error:
[code]

Then I use polkadot-js to implement the same purpose as following code:

[code]

It decodes correct:
[code]

Golang version of `DecodeEventRecords` decodes event number right, but failed of second event decoding.

[2020-08-26 08:33] Laighno commented on #91
I found the problem: `type DispatchInfo struct {
	// Weight of this transaction
	Weight U32
	// Class of this transaction
	Class DispatchClass
	// PaysFee indicates whether this transaction pays fees
	PaysFee bool
}` . the weight should be U64 not U32.

[2020-08-26 10:29] philipstanislaus commented on #91
Nice, thanks for reporting this. Could you create a PR for it? Many thanks!

[2020-08-26 10:35] philipstanislaus commented on #92
The reason for this error is that `events := types.EventRecords{}` does not have the `Schuduler_Scheduled` key. Please expand the types like this:

[code]

[2020-08-26 14:02] Laighno commented on #91
ok, I will create a PR later. another question, how can I get a transaction hash? I did't find any function about this.

[2020-08-28 08:24] anzhaozhong opened #93 "unsupported metadata version 11"

[2020-08-28 13:59] lucasvo commented on #93
This is related to #73 and we're in the process of upgrading to RC6. We'll submit a PR soon.

[2020-08-28 13:59] lucasvo commented on #93
Also check out #90 it brings you up to rc4.

[2020-08-29 06:01] anzhaozhong commented on #93
How long does it take to support v11?

[2020-08-29 06:01] anzhaozhong commented on #93
How long does it take to support v11?

[2020-08-29 06:25] lucasvo commented on #93
@mikiquantum is working on it. Perhaps you can give an update?

[2020-08-29 15:22] #91 closed

[2020-08-31 08:32] philipstanislaus commented on #91
@Laighno sorry for the late reply. The first return value of `hash, err := api.RPC.Author.SubmitExtrinsic(ext)` is the extrinsic hash. Hope that helps!

[2020-08-31 10:17] Laighno commented on #92
I received another event that seems you left out : `Staking_SolutionStored`, could you give out his struct. many thks!

[2020-09-01 09:40] philipstanislaus commented on #92
Good find! We will update all events shortly. In the meantime, you can lookup the types in the substrate codebase: https://github.com/paritytech/substrate/blob/fd2c136866b81a42f5a12e7afc0dc41cd69af44b/frame/staking/src/lib.rs#L1257

[2020-09-16 19:42] xavierp1992 commented on #93
Hi are there any updates on this? I am having this issue as well.

[2020-09-25 14:20] mikiquantum commented on #93
@anzhaozhong  @xavierp1992 new release supports substrate chains up to v2.0.0-rc6 (included), with latest metadata 11 updates.
Let us know if this release fixes the problem

[2020-09-25 14:22] mikiquantum commented on #92
This should be fixed in the latest release https://github.com/centrifuge/go-substrate-rpc-client/releases/tag/v2.0.0-rc6
Please reopen if not.
Thanks!

[2020-09-25 14:22] #92 closed

[2020-09-25 14:22] #93 closed

[2020-09-25 14:25] mikiquantum commented on #82
@robdefeo latest release https://github.com/centrifuge/go-substrate-rpc-client/releases/tag/v2.0.0-rc6 should solve this problem. Feel free to reopen if problem persists

[2020-09-25 14:25] #82 closed

[2020-09-25 14:27] mikiquantum commented on #73
New release https://github.com/centrifuge/go-substrate-rpc-client/releases/tag/v2.0.0-rc6 should fix this problem, otherwise please reopen.

[2020-09-25 14:27] #73 closed

[2020-09-25 14:28] mikiquantum commented on #72
Closing for now, please reopen if you still have this issue using the latest release https://github.com/centrifuge/go-substrate-rpc-client/releases/tag/v2.0.0-rc6

[2020-09-25 14:28] #72 closed

[2020-09-30 16:41] #80 closed

[2020-09-30 16:42] mikiquantum commented on #83
Fixed by #98

[2020-09-30 16:42] #83 closed

[2020-09-30 21:12] RaghavSood opened #99 "Verification Error: Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiSignature when submitting to Polkadot with v2.0.0-rc6-0"
I'm using the example code from the godoc [here](https://godoc.org/github.com/centrifuge/go-substrate-rpc-client#example-package--MakeASimpleTransfer), but am unable to actually submit the signed transaction.

It fails with

    Verification Error: Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiSignature

which should already be solved according

[2020-09-30 21:41] mikiquantum commented on #99
@RaghavSood Thanks for reporting, I believe we might have missed to update that example. I will do so.
In the meantime, can you try adding `TransactionVersion: 1,` to this block:
[code]
Let us know if that works

[2020-09-30 21:50] RaghavSood commented on #99
@mikiquantum Thanks for the quick response.

Unfortunately, it fails with the same error.

[2020-09-30 22:13] mikiquantum commented on #99
@RaghavSood We were only able to push the lib until v2.0.0-rc6. I believe Polkadot is in that version, if there is other type missing or incompatible we will have to debug it, to find out which one is causing this.
We will get back to you here as soon as possible.

[2020-10-01 03:35] RaghavSood commented on #99
Just for reference, I performed an identical transaction with the typescript singer-cli.

Transaction:

From: 15M2jgjNBvwxuZyDNAWcyFheYPzvZ478m8UvFfKoLP1MeiSb
To: 15zd9gx4iiB2FzhTWeNnaE88MsYxCYdcQUMPWkXXv793Vd84
balances.transfer
Nonce 0
18800000000 plancks

The one produced by GSRPC serialized to:

 0x390284c037af84f31c86970d09e7dc1d001c4faaacd98dbd9fb5d15563fb43cf6c087801ee4894f2951d3151c72118bc

[2020-10-01 04:15] RaghavSood commented on #99
Breaking it down a little further, I got:

[code]

Looks like the only difference is `0000000500ff` in the failing one in place of `850100000500` in the working one

[2020-10-05 18:40] mikiquantum commented on #99
@RaghavSood Looking at it, will give an update here as soon as I find the problem.

[2020-10-05 19:18] mikiquantum commented on #99
@RaghavSood I was able to send successfully send a balance transfer against `westend testnet` by setting:
[code]
As per: https://github.com/paritytech/polkadot/blob/d327000afb34a49c3b0ce7c80147cbea6434d429/runtime/westend/src/lib.rs#L93

For Polkadot seems that it should be `5` per https://github.com/paritytech/polkadot/blob/e9a004b9fc06f260a8bc98a0c28697457b28834f/runtime/polkadot/src/lib.rs#L99

[2020-10-05 19:21] mikiquantum commented on #99
Tip: You can get the TransactionVersion programatically:
[code]

[2020-10-05 19:40] mikiquantum commented on #99
If you face the error above, as a quick fix for now, specify these:
[code]
Just after the `api` has been instantiated.

The reason is that GSRPC was assuming that if the Indices pallet was included, then it was used as Lookup in the frame system and for validating transactions. Which is true for the node spec in substrate repo:
https://github.com/paritytech/substrate/blob/fb82769a21b1328c95b9dacdf

[2020-10-06 12:08] LaurentTrk opened #101 "Substrate 2.0.0"
Hi guys,

The Substrate v2.0.0 has been released.
Would it be possible to update the go-substrate-rpc-client to work with this substrate release ?
I prepared a pull request for that purpose : https://github.com/centrifuge/go-substrate-rpc-client/pull/100

I hope it's ok for you :)
Thanks.

[2020-10-06 15:59] mikiquantum commented on #101
Fixed by #100

[2020-10-06 15:59] #101 closed

[2020-10-06 16:02] mikiquantum opened #102 "Update to use Go Modules"

[2020-10-21 20:01] drewstone opened #104 "Failed to sign with Subkey using ChainBridge"
Subkey signing fails when running the chainbridge relayer to sign extrinsics, potentially because we are running a Substrate 2.0 chain. It looks like it fails at signing the extrinsic which goes into this library.

- Any idea how to debug or help if I receive `EROR[10-21|15:50:49] Failed to execute extrinsic              chain=edgeware err="failed to sign with subkey: exit status 1"`?

[2020-10-21 20:13] mikiquantum commented on #104
@drewstone The latest release of GSRPC supports Substrate v2.0.0, at least on the template, which is verified by the CI in this project by running tests against: https://github.com/centrifuge/go-substrate-rpc-client/blob/master/docker-compose.yml#L4
That error is most likely due to mismatchin versions of local subkey and the gsrpc lib used.

ChainBridge latest released supports v2.0.0-rc6 and the

[2020-10-22 09:19] crossle commented on #99
I face the same problem, `{"jsonrpc":"2.0","error":{"code":1002,"message":"Verification Error: Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiSignature","data":"RuntimeApi(\"Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiSignature\")"},"id":1603358274813614000}`
I use the transaction version 5

[2020-10-22 09:45] crossle commented on #99
BTW, this library support ed25519 signature? i try use `	sig := ed25519.Sign(key, enc)` but failed :"Invalid Transaction","data":"Transaction has a bad signature"

[2020-10-27 20:00] #104 closed

[2020-11-03 12:36] MakMuftic opened #105 "Typo inside documentation"
There is a small typo inside one of the examples ([MakeASimpleTransfer](https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client#example-package-MakeASimpleTransfer)) in documentation.

There is a check for error existence even though there is no reason for this check.

[code]

[2020-11-03 19:18] philipstanislaus commented on #105
Great findings, thanks! Would you be able to submit a PR for those issues? Many thanks!

[2020-11-04 10:21] MakMuftic commented on #105
@philipstanislaus yes for sure, I will submit PR by the end of this week

[2020-11-11 09:30] jackliu8722 opened #106 "Invalid Transaction"
hi, when run the makeASimpleTransfer, i got an error "makeASimpleTransfer", what's wrong with it.

[2020-11-11 10:23] MakMuftic opened #107 "Failing tests"
I am not able to successfully run tests (I am running dockerized tests with `make test-dockerized`)

This is a relevant part of logs
[code]

Problem is that `go` can't build this code, this is output from `go build ./...`

[code]

[2020-11-13 09:51] #107 closed

[2020-11-14 13:21] jackliu8722 commented on #106
when i run a node with substrate-node-templete,  SimpleTransfer is ok, but i connect to rpc.polkadot.io for transfering dot, it got invalid transaction error, how can i fix it?

[2020-11-16 14:52] CryptoBadBoy opened #110 "unable to find field Multisig_MultisigApproval for event #1 with EventID [31 1]"
Hello
It error is falling when i decode event records on some blocks. Example, 4940400 block for kusama

	hash, err := api.RPC.Chain.GetBlockHash(number)
	if err != nil {
		return err
	}

	meta, err := api.RPC.State.GetMetadata(hash)
	if err != nil {
		return err
	}

	key, err := types.CreateStorageKey(meta, "System", "Events", nil, nil)
	if err != nil {
		return err
	}

	raw, err := api.RPC.State

[2020-11-16 18:19] mikiquantum commented on #102
addressed #109

[2020-11-16 18:19] #102 closed

[2020-11-16 18:37] mikiquantum commented on #99
@crossle thanks for pointing it out. Even though `subkey` obviously supports ed25519 signatures we haven't exposed the `scheme` option to the sign/verify functions, and therefore always defaulting to `Sr25519`.
Will add an issue to expose that option.

Regarding the above error, Can you provide the code snippet? Are you connecting to Polkadot as well?

[2020-11-16 18:44] mikiquantum commented on #106
@jackliu8722 I believe we need to update that example to include the TransactionVersion. Do you want to try it out using this example as reference?
https://github.com/centrifuge/go-substrate-rpc-client/blob/c136426a4e020eb4948783916eb4a14f9f3e0343/teste2e/author_submit_extrinsic_test.go#L142
Make sure you set the correct transactionVersion, I believe is `5`.

[2020-11-16 22:47] mikiquantum commented on #110
@CryptoBadBoy Thanks for reporting this. Seems that we have wrongly defined the Event Name. Instead of `Multisig_MultisigApproval` we did `Multisig_Approval`. Will push a fix soon that bundles as well newer events since last substrate updates.

[2020-11-17 06:37] jackliu8722 commented on #106
thank for your replay
i set the transactionVersion value from runtime,
rv, err := api.RPC.State.GetRuntimeVersionLatest()
transactionVersion = rv.TransactionVersion
but i got the same error.

[2020-11-17 10:34] CryptoBadBoy commented on #110
@mikiquantum, Thank you very much!

[2020-11-17 13:20] MakMuftic opened #112 "Replace subkey with go-subkey port"
Have you considered moving to [go-subkey port](https://github.com/vedhavyas/go-subkey) so that installing subkey is not needed? I see this port is made by @vedhavyas

I have replaced it on [this fork](https://github.com/NodeFactoryIo/go-substrate-rpc-client) and everything seems to be working as intended.

[2020-11-17 16:42] mikiquantum commented on #110
fixed by #111 . Please reopen if otherwise.

[2020-11-17 16:42] #110 closed

[2020-11-17 16:42] mikiquantum commented on #105
fixed by #111

[2020-11-17 16:42] #105 closed

[2020-11-17 16:45] mikiquantum opened #115 "Expose "scheme" to sign/verify signature code"
As suggested here: https://github.com/centrifuge/go-substrate-rpc-client/issues/99#issuecomment-714371943

We should expose the scheme option so all subkey cryptographic schemes are available:  Ed25519, Sr25519, Ecdsa

[2020-11-17 16:47] mikiquantum commented on #106
@jackliu8722 have you seen this? https://github.com/centrifuge/go-substrate-rpc-client/issues/99#issuecomment-703846813

Can you check if that solves the problem?

In addition does the account has enough balance?

Cheers,

[2020-11-17 16:48] mikiquantum commented on #77
Closing for now, if you still need this, please reopen and add more information to the issue.

[2020-11-17 16:48] #77 closed

[2020-11-17 17:16] mikiquantum commented on #112
Thanks @MakMuftic, I would refer to @vedhavyas to check and confirm that the library is ready for prod use, before moving on with the PR open.

[2020-11-25 00:32] ChinmayPatel opened #116 "panic: unsupported metadata version 12"
# Steps to reproduce

1. import the package.
2. Connect to a network.

[code]

3. Check Metadata

[code]

# Output

[code]

[2020-11-25 01:23] ChinmayPatel commented on #116
False alarm. I was using an incorrect `version 1.1.0`.

I used the correct version `2.0.0` inside the `go.mod` file, and it worked. For newbies to Go (like me), add the line below to the `go.mod` file.

[code]

[2020-11-25 05:48] #116 closed

[2020-11-26 17:38] ChinmayPatel opened #117 "Outdated examples at pkg.go.dev"
I just tried the examples (simpleTransfer example in particular) at https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client#pkg-examples and ran into a bunch of compatibility issue.

Eventually, I got it working using the main_test.go file and the answer at centrifuge/go-substrate-rpc-client#99 .

Can someone update the docs on the pkg.go.dev site? I'm new to go and not sure how to do it.

[2020-12-01 19:56] ChinmayPatel opened #118 "How to get extrinsic data from the block?"
I'm trying to read details in the extrinsic call, but I'm not sure how to go about it.

So far, I have
* received the blocked based on the hash string
[code]

* looping through extrinsics
[code]

* located the `Args` as `Extrinsics.Method.Args`
[code]

But the value of `Args` is an array of bytes (`[] byte`) (example below)
[code]

I'm not sure how to get the full argument details out of this. Do

[2020-12-01 20:52] mikiquantum commented on #118
@ChinmayPatel To be able to give a meaning to the arguments passed to the Call, first you would need to identify which pallet and function was called by resolving it from the callIndex `Extrinsics[n].Method.CallIndex` by finding it from the metadata at the block number when the extrinsic was included in the block.

Then you will need to decode the `Extrinsics[n].Method.Args` into the type of each

[2020-12-02 17:04] ChinmayPatel commented on #118
Thanks for the quick response @mikiquantum .

So, I need to build the reverse lookup function of `metadata.FindCallIndex('string')`. Is that correct? Is there an existing function like that in the library? If not, I'm happy to submit a PR to support that functionality.

[2020-12-02 18:54] ChinmayPatel commented on #118
Also, we are trying to parse the `utility` pallet and the `batch` function. I can't seem to find a `utility` type inside the `types` function. Does that exist? Correct me if I'm wrong.

[2020-12-02 20:19] ChinmayPatel commented on #118
Update; I can't seem to find the module based on the index. My `extrinsic.Method.CallIndex.SectionIndex` is 34 but there is not module with the same index. Below are some code snippest to explain my situation futher.

First I'm reading a block and printing each extrinsic's `CallIndex`.

[code]

One of the `ext` should be a `utility.batch`. It's CallIndex is `{34 122}', but none of the modules prin

[2020-12-03 08:57] MakMuftic opened #119 "Issue when fetching AccountInfo"
I used code from [Example (TransactionWithEvents)](https://godoc.org/github.com/centrifuge/go-substrate-rpc-client#ex-package--TransactionWithEvents), but I have a problem with fetching `AccountInfo`. It fails with this error:

[code]

I am running `polkadot --dev` where `//Alice` is trying to make transaction

[2020-12-03 09:25] vedhavyas commented on #119
@MakMuftic Looks like `AcocuntData` definition is different in your runtime. can you check what is the AccountStore you are using?
Is it balances or system module?
If you are using system pallet for storing account info, then please check the AccountData you are using? Ideally, this should be Balances::AcocuntData

[2020-12-03 14:38] ChinmayPatel commented on #118
Update: It's still not working, but I have isolated the issue.

I pulled the same block using the JS library. It was showing the correct CallIndex `{26 0}` instead of incorrect `{34 122}`. Who should be the right person to verify if the decoder is decoding correctly.

[2020-12-03 17:02] ChinmayPatel opened #120 "Extrinsic with `utility.batch` is decoded incorrectly"
This issue was identified while solving the issue at https://github.com/centrifuge/go-substrate-rpc-client/issues/118 .

# Bug:
User is not able to correctly decode the `utility.batch` extrinsic.

# Steps to Reproduce

For simplicity, I've created a Westend transaction @ https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fwestend-rpc.polkadot.io#/explorer/query/0xf423599fa7cabb680b19733b5ea0e9676ead737e

[2020-12-03 17:02] ChinmayPatel commented on #118
This issue is not resolved, but the problem is different. Creating a new issue at https://github.com/centrifuge/go-substrate-rpc-client/issues/120 and closing the issue.

[2020-12-04 09:27] vedhavyas commented on #112
@MakMuftic things that are missing in the port:
- Update deps to latest
- support for multiple schemes.

First one is straightforward.
Regarding the second, We have an open issue to support other schemes, and this is a simple change with the current subkey while requires some work to include the schemes on the subkey port.

While I lean towards using the subkey port, I would want to wait until we

[2020-12-04 17:20] ChinmayPatel commented on #120
Hi @vedhavyas, would you be able to point me in the right direction? If I should talk to someone else, please let me know.

[2020-12-06 08:33] heipacker opened #121 "cannot find module providing package"
build command-line-arguments: cannot load github.com/ethereum/go-ethereum/common: cannot find module providing package github.com/ethereum/go-ethereum/common

[2020-12-07 13:42] mpetrunic commented on #112
Are you using go-substrate-rpc-client in some end product? How do you distribute subkey binary?

Would it make more sense for this library to use subkey compiled to wasm?

[2020-12-07 15:22] vedhavyas commented on #120
Hey @ChinmayPatel
Will investigate and get back

[2020-12-07 15:40] ChinmayPatel commented on #120
Thanks @vedhavyas . Looking forward to your response.

[2020-12-08 03:01] ChinmayPatel commented on #120
FYI, using `wss://westend-rpc.polkadot.io` for connecting with Polkadot.

[2020-12-08 07:15] vedhavyas commented on #112
@mpetrunic With WASM, we need to write a wrapper on top of the subkey to compile to WASM.

[2020-12-08 10:39] mpetrunic commented on #112
We would just need go wrapper over existing wasm binary generated from rust.
I looked into it, only mature wasm runtime in go doesn't support windows yet so not really a viable option. How hard is it to support multiple schemes in go-subkey? Is there some spec? We could help out.

[2020-12-08 11:14] vedhavyas commented on #112
ATM subkey is a cmd line with no exported functions for us to call on the Go side, so we would need to write a wrapper on subkey and export the required functions and then use it on the Go side.

When I wrote the port, I put everything in sr25519 including key derivation etc... ideally, those need to be moved out. Then remaining substrate schemes for signing and verifying needs to be included. We

[2020-12-08 11:52] mpetrunic commented on #112
Polkadot.js already made wrapper with exported required functions:
https://github.com/polkadot-js/wasm/blob/master/packages/wasm-crypto/src/rs/ed25519.rs

But I don't think it's worth doing that

Gonna talk to chainsafe to see what they are planning but would love to resolve this :slightly_smiling_face:

[2020-12-08 11:58] vedhavyas commented on #120
@ChinmayPatel Seems like this is happening due to the Address decoding on the Extrinsic. The way Go decodes an Address depends on how the address is encoded. If indices are used as a lookup on the chain, then we decode to Account Index else decode it to 32 bytes AccountID.

The library by default assumes Indices are used. There is a handier function `types.SetSerDeOptions(types.SerDeOptionsFromMet

[2020-12-08 12:24] vedhavyas commented on #120
Closing this issue as the library is working as intended. Please open again if this is not solved

[2020-12-08 12:24] #120 closed

[2020-12-08 19:15] ChinmayPatel commented on #120
Going to give this a try today. Thanks for the prompt response. 👍

[2020-12-08 22:08] ChinmayPatel commented on #120
That works! Thank you!

[2020-12-10 12:29] vedhavyas commented on #119
@MakMuftic is this still an issue?

[2020-12-11 07:09] MakMuftic commented on #119
@vedhavyas Sorry, had a few crazy days so I forgot to respond here. Your clue helped me, so this is not an issue anymore. Tnx for the help.

[2020-12-11 07:09] #119 closed

[2020-12-18 03:12] zadmarbella opened #124 "Missing MetatData.AsMetadataV12.Modules"
Awesome library 👍👍👍👍

But we are seeing an issue when building on v2.0.0 with same variable defined on two places.
It looks to be resolved here https://github.com/centrifuge/go-substrate-rpc-client/pull/108
but when we try upgrade to v2.0.0-rc6.2 we are missing the Metadata.AsMetadataV12.Modules

Please advise.
Thanks

[2020-12-18 03:43] mikiquantum commented on #124
Hi @zadmarbella,
that release is on v2.0.0-RC6, just before substrate v2.0.0 was released, and that didn't contain metadata v12. If you need compatibility with v2 then you cannot use the substrate RC6 one, just use the released v2.0.0 or master for latest types.

[2020-12-18 05:52] zadmarbella commented on #124
Hi, @mikiquantum

We are compiling our project off a docker container FROM golang:1.15.5  image as part of a build pipeline.

Thanks.

[2020-12-18 17:27] mikiquantum commented on #124
I believe I need more info since I just tried building with this sample dockerfile successfully, from the GSRPC parent dir:

[code]

[2020-12-18 18:51] zadmarbella commented on #124
It looks like the ENV CGO_ENABLED=0 root cause.

We are able to reproduce it with this dockerfile

[code]

[2020-12-23 12:27] vedhavyas commented on #112
@MakMuftic @mpetrunic I just made a v1 release with all the schemes here - https://github.com/vedhavyas/go-subkey/releases/tag/v1.0.0

[2020-12-23 12:29] vedhavyas commented on #112
@MakMuftic @mpetrunic I have had a chance to add the remaining crypto schemes to this release - https://github.com/vedhavyas/go-subkey/releases/tag/v1.0.0

[2020-12-23 12:34] mpetrunic commented on #112
That's really nice of you 😄 Thank you.

Does that mean, if we update https://github.com/centrifuge/go-substrate-rpc-client/pull/114 it can be merged? 🙂

[2020-12-23 13:35] vedhavyas commented on #112
@mikiquantum and I will get back on that soon.

[2020-12-23 16:57] ChinmayPatel commented on #118
[code]

Then you will need to decode the Extrinsics[n].Method.Args into the type of each argument in the function signature loaded from the metadata.

[2020-12-30 15:27] #124 closed

[2021-01-05 09:19] qqliaoxin opened #127 "go-substrate-rpc-client execute the contract deployed in Ink?"
Hello, I am a Go developer. I recently studied go-substrate-rpc-client and want to use it to implement the client of substrate. But I found no relevant implementation examples of author_submitAndWatchExtrinsic. Author_submit_and_watch_extrinsic_test.go on the gitHub repository is related to The data structure of polkadot{.js} is not the same. So I would like to ask you some examples of how you can

[2021-01-08 11:11] vedhavyas commented on #112
@MakMuftic @mpetrunic would you like to update the PR with latest port ?

[2021-01-10 21:02] MakMuftic commented on #112
@vedhavyas I updated PR

[2021-01-19 02:45] #112 closed

[2021-01-19 16:45] vedhavyas commented on #118
@ChinmayPatel is this still an issue ?

[2021-01-19 17:36] ChinmayPatel commented on #118
Unfortunately, not! We created a sample code @ https://github.com/blockxlabs/centrifuge-go-substrate-rpc-examples/blob/main/main.go. The aim is to read a batch transaction that has a transfer and a remark. We couldn't make it work using Centrifuge, so we made it work using another library as you can see at https://github.com/blockxlabs/centrifuge-go-substrate-rpc-examples/blob/main/main.go#L59.

F

[2021-01-21 15:10] zyjblockchain opened #129 "AccountInfo struct could need to modify because gavin fix such code"
![image](https://user-images.githubusercontent.com/40423181/105369626-b424c080-5c3d-11eb-8785-845fb84f2c69.png)

[2021-01-21 17:54] ChinmayPatel commented on #118
This is resolved now. Thanks for the help @LaurentTrk (https://github.com/LaurentTrk) .

Here is the code that might help others unbundle this.

[code]

Note for self (and others): If you see weird behaviour in the library, ensure that you are importing the right version.

[2021-01-21 17:54] #118 closed

[2021-01-29 04:33] dungdang95 opened #130 "storage FreeBalance not found within module Balances"
I use func check balance for example but it return error
[code]

and err is
` --- FAIL: TestNeoTestSuite/TestGetBalance (1.46s)
        suite.go:63: test panicked: storage FreeBalance not found within module Balances
            goroutine 8 [running]:
            runtime/debug.Stack(0xc000159748, 0x147ba60, 0xc00005b4f0)
            	/usr/local/Cellar/go/1.13.5/libexec/src/runtime/debug/stack.go:2

[2021-01-29 15:47] mikiquantum commented on #130
@dungdang95 I can't find the `FreeBalance` storage in the `Balances` pallet. Which version of substrate are you using?

[2021-01-29 15:52] dungdang95 commented on #130
V2.1.0

[2021-01-29 15:59] mikiquantum commented on #130
@dungdang95 you just gave me the version of go-substrate-rpc-client I want to know the version of the Parity Substrate based chain you are connecting against.

[2021-01-29 16:04] dungdang95 commented on #130
I use westend testnet and rpc is wss://westend-rpc.polkadot.io. It is wrong? I dont know version of it.

[2021-01-29 16:35] mikiquantum commented on #130
Just to step back for a moment, your goal is to get the free balance of an account. I have never used that storage key and I am not sure it is valid.
This is a simple snippet to get the balance of an account:

[code]

[2021-01-30 21:20] dungdang95 commented on #130
Can you check your Telegram inbox?

[2021-01-31 13:12] #130 closed

[2021-02-01 14:47] akme opened #131 "How to parse Staking Ledger?"
I've created key
[code]
but can't get how to parse the output, do you have any examples?

[2021-02-20 00:28] vedhavyas commented on #131
@akme while the response type would depend on which version of runtime the chain is running, for rc6 runtime the following would be the way to go.

[code]

[2021-02-20 00:35] vedhavyas commented on #129
@zyjblockchain the type change that was introduced would break back compatibility with the previous clients. Runtime types would change from version to version and, hence, we suggest you to overrides the types that are different from the default ones provided by the lib.

[2021-02-20 00:35] #129 closed

[2021-02-20 00:42] vedhavyas commented on #127
you can find an example of making a simple balance transfer using author_SubmitAndWatch - https://github.com/centrifuge/go-substrate-rpc-client/blob/master/main_test.go#L397

[2021-02-20 00:42] #127 closed

[2021-02-20 00:47] vedhavyas opened #132 "Events are sent twice sometimes"
Sometimes events given twice. Didn't have multiple same events for the block I have noticed this

[2021-02-20 08:56] akme commented on #131
Thank you, works like a charm =)

[2021-02-20 08:56] #131 closed

[2021-02-25 03:39] dcoinapi opened #133 "Verification Error: Runtime error: Execution failed: ApiError("Could not convert parameter `tx` between node and runtime: No such variant in enum MultiAddress""
It failed when submit the signed transaction.  But the same code works fine few days ago.

It seems polka update some structure?
https://github.com/polkadot-js/api/commit/b49c2314e782c86fd428d9b5d84a3f77dafced38

[2021-02-26 03:26] 1042782229 commented on #133
Did you solve this problem? I face too

[2021-02-26 08:07] RJman-self commented on #133
I have the same confusion as you

panic: Verification Error: Runtime error: Execution failed: ApiError("Could not convert parameter `tx` between node and runtime: Error decoding field Call :: Multisig.0")

[2021-02-26 08:13] RJman-self opened #134 "ApiError("Could not convert parameter `tx` between node and runtime: Error decoding field Call :: Multisig.0")"
It seems polka update the Multisignature structure?

[2021-02-26 08:15] RJman-self commented on #134
I encountered this error when I called Multisig.as_multi of polkadot (substrate)

[2021-02-26 08:33] RJman-self commented on #134
////BEGIN: Create a call of MultiSignTransfer
	mulMethod := "Multisig.as_multi"

	var threshold = uint16(2)
	// parameters of multiSignature
	Alice, err := types.NewAddressFromHexAccountID("0xd43593c715fdd31c61141abd04a99fd6822c8558854ccde39a5684e7a56da27d")
	Bob, err := types.NewAddressFromHexAccountID("0x8eaf04151687736326c9fea17e25fc5287613693c912909cb226aa4794f26a48")

	var otherSignatories =

[2021-03-02 16:05] infinitedaremo opened #136 "Basic Usage question"
Were migrating our current functionality away from substrate sidecar API and was just wondering if its possible to replicate some of the features it has.

Currently our requirement is simply to retrieve a block and its transaction and on that block simply iterate over the events for each transaction.

Whilst im able to query a block and the event records there are a few things im wondering how to

[2021-03-02 16:14] vedhavyas commented on #136
@infinitedaremo there are some examples mentioned under `main_test.go` but not the complete feature set.
We use GitHub issues for bugs and feature dev tracking. The discussions around there happen on our discord server under `substrate rpc` channel. I would suggest bringing these up there to find a potential solution for your use case.

Here is the discord invite: https://centrifuge.io/discord

[2021-03-02 16:17] infinitedaremo commented on #136
Thanks ill ask on there

[2021-03-02 16:17] #136 closed

[2021-03-04 21:47] infinitedaremo opened #137 "Extrinsic Encoding differs from initial value"
Retrieving block 4013570 from Polkadot mainnet. The raw extrinsic hexs are as follows:

[code]

Once the extrinsic is decoded to the Go struct. Attempting to encode it again gives differing values:

[code]

[code]

Note the inherent extrinsic is as expected but the first 2nd, 3rd and 9th characters are different.

[2021-03-04 21:53] infinitedaremo commented on #137
I think it could potentiialy be down to this line:

[code]
There is no corresponding encode for a potential length which would explain why only the start of the value is different.

[2021-03-04 22:52] mikiquantum commented on #137
@infinitedaremo The length is prepended at the end of the function:  https://github.com/centrifuge/go-substrate-rpc-client/blob/904cb0b931a9949b08e731fa14c24ed62226a748/types/extrinsic.go#L242

The reason why is shorter (missing 5th byte `4e`, I believe, is because GSRPC hasn't been updated to use MultiAddresses yet, introduced by https://github.com/paritytech/substrate/pull/7380 and I believe Pol

[2021-03-05 01:26] infinitedaremo commented on #137
Thats good to hear. In the mean time. Is there a way to get the original extrinsic hash from the current code?

[2021-03-06 09:01] litterGuy opened #138 "Get nonce and tip from Block Extrinsics,but the result was wrong"
I want to get the nonce and tip of a transaction, through the following code：

[code]
The result is :

[code]

none is 31，but in the "polkascan.io",the nonce is [2760.](https://polkascan.io/polkadot/transaction/0xa8b2e04908ad465ee4c7b2c86235c3805381b55081af39adcf7566e3e109b647)
I am not sure the "tip" is right.

Also get the "PartialFee" is wrong , "Unable to query dispatch info"

How can i fix it

[2021-03-07 15:12] mikiquantum commented on #137
@infinitedaremo Can you elaborate a bit more on this? Do you mean from each extrinsic encoded above, get the correspondent extrinsic hash id?

[2021-03-07 15:16] infinitedaremo commented on #137
Yes. I couldnt find that data anywhere.

[2021-03-07 15:18] mikiquantum commented on #138
Hi @litterGuy I believe this is a problem with the fact that this library hasn't been updated to use MultiAddresses and therefore the decoding fails silently in the extrinsic decoding.
We are planning on updating this library very soon.
The PartialFee issue might be related as well, on some missing types.

[2021-03-07 18:17] mikiquantum commented on #137
@infinitedaremo I believe is just the blake2b256 of the byte array representation of the extrinsic encoded hex:
[code]

[2021-03-08 05:38] litterGuy commented on #133
Verification Error: Runtime error: Execution failed: ApiError(FailedToConvertParameter { function: "validate_transaction", parameter: "tx", error: Error { cause: None, desc: "Could not decode `MultiAddress`, variant doesn\'t exist" } })

[2021-03-18 12:07] tylerztl opened #139 "Could not decode MultiAddress"
[code]

[2021-03-23 09:36] Krados commented on #139
got the same issue no idea how to deal with it

[2021-03-24 02:30] tylerztl commented on #139
https://github.com/centrifuge/go-substrate-rpc-client/pull/128

[2021-03-24 03:08] #139 closed

[2021-04-01 02:29] litterGuy opened #140 "use ecdsa signature and submit extrinsic.but got 'Transaction has a bad signature'"
Due to the problem of public key derivation, I considered using ecdsa to generate an account. But after ecdsa signs, there will be signature errors. Where should I go to troubleshoot and solve this problem?

in the westend network,i use code like that:

[code]

[code]

[2021-04-01 10:53] wangjj9219 opened #141 "Problem about events decoding"
Hi guys, I need help. I'm using ChainSafe/ChainBridge and encounter an error originated from centrifuge/go-substrate-rpc-client, the error msg is: "unable to find field Currencies_Transferred for event #4 with EventID [6 0]"

I scan the code: https://github.com/centrifuge/go-substrate-rpc-client/blob/904cb0b931a9949b08e731fa14c24ed62226a748/types/event_record.go#L285-L288 ,
it seems an error when

[2021-04-05 11:09] wangjj9219 commented on #141
Version info:
substrate - v3.0.0
gsrc - latest version

These's an event that include an enum type on my Substrate chain:
[code]

And I defined event type in go side:
[code]

I triggered event Test1(On) on substrate, `DecodeEventRecords` function threw this error:` could not be decoded field by field, error: unexpected EOF`.
I scanned the log, `Phase`, `EventId` were decoded correctly, and I check

[2021-04-06 06:46] litterGuy commented on #140
And in the ecdsa,the public key is 33 byte, but 'MultiAddress'

[code]
accountid is 32 byte.
I think it was caused by an error in the public key transmission,but i can`t fix this by change MultiAddress

plz hlep

[2021-04-06 08:49] zyjblockchain opened #142 "submit Extrinsic error"
when I send a simple extrinsic, I get submit_extrinsic error `Verification Error: Runtime error: Execution failed: Wasmi(Trap(Trap { kind: Unreachable }))`
so, I run this lib uint test `./teste2e/author_submit_extrinic_test.go` func `TestChain_SubmitExtrinsic(t *Testing.T)` , and get the same error.

[2021-04-07 09:57] vedhavyas commented on #142
@zyjblockchain is this from the latest v2.0.0 substrate ?

[2021-04-14 12:38] frankli-dev commented on #133
I have the same issue in the following two cases
- using polkadotjs app connected with the local substrate node
- using go-substrate-rpc-client to send transaction

For the first case, I fixed the issue by adding the following type definition to polkadotjs app (developer settings)
[code]
It was `AccountId` instead of `MultiAddress`. After updating it, it works successfully on polkadotjs app.

For

[2021-04-14 12:46] frankli-dev commented on #133
Ah, I've found the relevant conversation here. https://github.com/centrifuge/go-substrate-rpc-client/pull/128

They are not gonna merging the pull request for now and recommend another rpc client for substrate v3.

https://github.com/Snowfork/go-substrate-rpc-client

[2021-04-14 12:49] frankli-dev commented on #133
Oops. It seems the latest message says that the appropriate PR is merged.

https://github.com/centrifuge/go-substrate-rpc-client/pull/143

[2021-04-14 14:25] frankli-dev commented on #99
This is the same issue with this one https://github.com/centrifuge/go-substrate-rpc-client/issues/133
The fix for v3 substrate is merged to master branch.

[2021-04-15 08:24] vedhavyas commented on #99
yes. The latest master should fix the issues with v3 substrate chains. Closing this now. Please do open this if you are still facing the issues with chains running with MultiAddress and Multisignature

[2021-04-15 08:24] #99 closed

[2021-04-15 08:26] vedhavyas commented on #133
Closing this since the latest master should support the MultiAddress issues with chains using MultiAddres. Do open this if you see any issues

[2021-04-15 08:26] #133 closed

[2021-04-15 08:27] vedhavyas commented on #141
@wangjj9219

[2021-04-15 08:32] vedhavyas commented on #141
@wangjj9219 your enum types looks good on top. Can you send me the some encoded data to reproduce this ?

[2021-04-15 08:47] frankli-dev commented on #133
@vedhavyas
Can we release the latest version as new tag, please?

[2021-04-15 08:50] vedhavyas commented on #133
@frankli-dev yeap. Coming soon 👍🏼

[2021-04-15 08:53] vedhavyas commented on #142
@zyjblockchain any update on this?

[2021-04-15 08:59] vedhavyas commented on #140
@litterGuy have you tried the RawBytes?

[2021-04-15 09:02] vedhavyas commented on #117
@ChinmayPatel docs should be updated automatically. Can you try the latest master. That examples are updated there. Thy should work for SubstrateV3 based chain

[2021-04-15 09:08] vedhavyas commented on #134
@RJman-self could try this with latest master and let me know if you ar still sing this issue ?

[2021-04-15 09:10] vedhavyas commented on #106
@jackliu8722 is this still an issue? Have you tried what @mikiquantum suggested?

[2021-04-15 09:11] litterGuy commented on #140
Also tried. Set RawBytes as public key ( 33 byte ), and result the error is
[code]

[2021-04-15 09:12] vedhavyas commented on #121
@heipacker Could you give more info on the command you have used?

[2021-04-15 09:43] zyjblockchain commented on #142
no，I find this lib do not support mutil address. so, send tx always get error.
now I use fork repo https://github.com/Snowfork/go-substrate-rpc-client to solve this problem。
if you have same problem, can try to use this fork repo

[2021-04-15 09:44] vedhavyas commented on #140
@litterGuy i just looked at the substrate code. looks like you have to do a blake2b hash of compressed 33 byte pub key to get 32 byte key which will be the public key - `sp_io::hashing::blake2_256(&who.as_ref()[..]).into()`
https://github.com/paritytech/substrate/blob/master/primitives/runtime/src/lib.rs#L292.

You can give it a shot if you want

[2021-04-15 09:45] vedhavyas commented on #142
@zyjblockchain the latest master on this branch will support multi address. Do try that and open the ticket if you still face the issue

[2021-04-15 09:45] #142 closed

[2021-04-15 16:08] zadmarbella opened #149 "Unable to pull block based off old MultiSignature in V3"
Testing on westend
Westend is using MultiAddress
https://github.com/paritytech/polkadot/blob/master/runtime/westend/src/lib.rs#L815

Not seeing the issue in v2 but it's there in v3.

snippet used to test:
[code]

[2021-04-15 16:43] vedhavyas commented on #149
This is happening because the block requested above was added pre-multiaddress. Since v3 doesn't have backward compatibility with v2, its fails on v3 but goes through on v2

[2021-04-16 00:49] litterGuy commented on #140
Thanks for the help, i  will try later

[2021-04-16 08:53] litterGuy commented on #140
[code]
and set accountId(32 byte) to raw, also get the same error is :

[code]
when set "AsID" = accountId , the error is 'Transaction has a bad signature'.

are there any other suggestions?

[2021-04-16 08:53] litterGuy commented on #140
[code]
and set accountId(32 byte) to raw, also get the same error is :

[code]
when set "AsID" = accountId , the error is 'Transaction has a bad signature'.

are there any other suggestions?

[2021-04-21 10:49] wangjj9219 commented on #141
raw events:
[code]

the events definition: https://github.com/AcalaNetwork/ChainBridge/blob/main/shared/acala/events.go

the result decoded by polkadot.js:
[code]

But use `DecodeEventRecords` to decode raw events, still report error when decode event `EventCurrenciesTransferred`

This is our testnet console: https://apps-qwer951123.vercel.app/?rpc=wss%3A%2F%2Facala-testnet-1.polkawallet.io%3A9904

[2021-04-21 11:14] vedhavyas commented on #141
@wangjj9219 looks like you are using different versions of gsrpc. I could see that you are using v1, v2 of gsrpc. That could be a problem. I just tried to listen for currency transferred events and transferred some tokens from Alice. Evrything worked. here is the code I have used

[code]

[2021-04-21 11:15] vedhavyas commented on #134
closing this due to no response from OP. Please open this again if you have more info for us to reproduce the issue with latest release

[2021-04-21 11:15] #134 closed

[2021-04-21 11:16] vedhavyas commented on #121
Closing this due to no response from OP. PLease open this if you have more info for us to reproduce the issue with latest release

[2021-04-21 11:16] #121 closed

[2021-04-21 11:17] vedhavyas commented on #106
Closing this as there is no response from OP. Please open it again if you have more info for the team to reproduce the issue on latest release

[2021-04-21 11:17] #106 closed

[2021-04-21 11:37] vedhavyas commented on #138
Hi @litterGuy, I was able to get the correct nonce using v3. here is the code I ran
[code]

Here is the response I got:

[code]

I can see nonce and partial fee are correct according to the polkadot explorer as well.

[2021-04-22 00:41] litterGuy commented on #138
got it  thanks

[2021-04-22 00:41] #138 closed

[2021-04-22 10:46] vedhavyas commented on #141
Closing this for now. Please open this if you are seeing the issue with the latest version of gsrpc

[2021-04-22 10:46] #141 closed

[2021-04-22 10:48] #117 closed

[2021-04-22 13:02] RJman-self opened #151 "getBlock() method sometimes failed in Polkadot"
It works well in kusama and westend,  and it's okay most of the time in polkadot, but sometimes the getBlock() meet error, I have to skip it.

The error can be reproduced, The error can reappear, please check Polkadot block#4744169

![image](https://user-images.githubusercontent.com/44558375/115717895-32b00c00-a3ad-11eb-97bf-4a295766246b.png)

[code]

[2021-04-22 13:10] vedhavyas commented on #151
@RJman-self I'm able to fetch the block with following code
[code]

Please ensure you use the latest master. Closing this as this is working as intended

[2021-04-22 13:10] #151 closed

[2021-05-07 10:22] wuxuejie opened #154 "get free balance decode response inaccurate"
I use func check balance for example but it response inaccurate
[code]
Print out：[dot]ss58Address=143wEi2R1ArxtoKgHPEpNaB3sXCp5hwM4xKNxzc4DzCdAgyY,bigint=44435731588581425152,blaFloat64=4.443573158858143e+09

The `143wEi2R1ArxtoKgHPEpNaB3sXCp5hwM4xKNxzc4DzCdAgyY` balance =1.0345 DOT，Why is the result 4443573158.8581425152
![yue](https://user-images.githubusercontent.com/31883495/117435406-6a4bb600

[2021-05-12 02:35] SpaceTdlong commented on #154
I have the same problem. How to decode

[2021-05-19 12:41] kevinjanada opened #156 "Invalid Transaction on custom pallets"
When submitting an extrinsic to a custom pallet rpc, it always returns the error "Invalid Transaction" without any other explanation.

If possible could an example be provided? I couldn't find an example of making transactions using custom types.

[2021-05-19 13:49] vedhavyas commented on #156
@kevinjanada this doesn't give any info on how to reproduce this. Please provide more info on what you are doing and What custom types you are using

[2021-05-19 23:45] xx-labs opened #157 "Incorrect event type"
The Council_Voted field should be using EventCollectiveVoted type instead of EventCollectiveProposed
https://github.com/centrifuge/go-substrate-rpc-client/blob/cf7d2b36c65143e711e36ef36c9bc1011e542601/types/event_record.go#L117

[2021-05-20 01:54] kevinjanada commented on #156
[code]

[2021-05-20 01:56] kevinjanada commented on #156
Basically i followed the example on transfer balance from alice to bob, and change the Call to a custom pallet on my substrate chain.

[2021-05-20 08:10] vedhavyas commented on #157
@xx-labs thank you for reporting. Would you like to give a PR with that change ?
Else I'll get to it :)

[2021-05-20 08:15] vedhavyas commented on #156
What is the type you are expecting on the Extrinsic? Seem like you are sending in Vec<U8> here.

		BlockHash:          genesisHash,
		Era:                types.ExtrinsicEra{IsMortalEra: false},
		GenesisHash:        genesisHash,
		Nonce:              types.NewUCompactFromUInt(uint64(nonce)),
		SpecVersion:        rv.SpecVersion,
		Tip:                types.NewUCompactFromUInt(0),
		TransactionVers

[2021-05-20 08:53] kevinjanada commented on #156
serviceId is just a hash from this part of the code

[code]

Yes my chain is using Multiaddress and on V3.

I tested the balance transfer example and it worked

[2021-05-20 15:37] xx-labs commented on #157
Hi,

I submitted the PR https://github.com/centrifuge/go-substrate-rpc-client/pull/158
I don't seem to be able to link it to this issue?

Thanks!

[2021-05-20 16:20] #157 closed

[2021-05-26 10:36] icodezjb opened #159 "Support metadata version 13"

[2021-05-28 05:35] kevinjanada commented on #156
Any updates on this?

[2021-05-28 08:45] rjman-ljm commented on #159
@-@

[2021-05-28 10:08] vedhavyas commented on #156
@kevinjanada Unfortunately no. here is an example in V2. I do not have any for v3 but it shouldn't change much. I'll see if I can look at during weekend.

Example:
https://github.com/centrifuge/go-centrifuge/blob/develop/anchors/service.go#L106
The call implementation: https://github.com/centrifuge/centrifuge-chain/blob/master/runtime/src/anchor/mod.rs#L159

Could you

[2021-05-28 10:10] vedhavyas commented on #156
It could also be related to https://github.com/centrifuge/go-substrate-rpc-client/issues/159
Can you confirm which metadata version your node implementation uses?

[2021-05-28 11:26] vedhavyas commented on #154
Please use
[code]
as instead of default since the polkadot version changed this type. We will update it once a new version is released

[2021-05-28 11:26] #154 closed

[2021-05-31 11:58] ebarakos commented on #159
This issue is blocking us. Could you give us an estimate on when version 13 will be supported?

[2021-06-01 02:52] zyjblockchain commented on #159
I have give up this repo, because update is too slow

[2021-06-02 10:22] TUTUBIG commented on #159
me too

[2021-06-02 10:28] TUTUBIG commented on #159
@zyjblockchain which repo do you use?

[2021-06-03 08:33] icodezjb opened #160 "Support parachain event types"

[2021-06-13 11:18] ThreeAndTwo commented on #67
@philipstanislaus So is it still not supported now?

[2021-06-14 05:43] ThreeAndTwo commented on #159
@TUTUBIG I think it's this. https://github.com/itering/subscan-essentials

[2021-06-15 13:33] #159 closed

[2021-06-16 07:40] ThreeAndTwo opened #164 "How to get secret seed by mnemonic？"

[2021-06-17 01:30] raindust opened #165 "Failed to get event metadata by using `GetStorage` with V13"
When I try to upgrade [ChainBrdige](https://github.com/ChainSafe/ChainBridge) (which depends on RSRPC to interact with substrate) with V13 go the following error：
[code]

The following is the code that got this error:
[code]
And you can check the details at: https://github.com/tearust/ChainBridge/blob/main/chains/substrate/listener.go#L193

I think @ParthDesai my help me, thanks

[2021-06-17 02:14] ParthDesai commented on #165
@raindust This is happening because the new `GetStorage` api takes variadic argument depending upon the key type (as received by Metadata).

I will be opening a PR to `Chainbridge` repo shortly.

[2021-06-17 09:36] philipstanislaus commented on #67
@ThreeAndTwo unfortunately not. @vedhavyas is maintaining this repository now - could you share some insights on the timeline @vedhavyas ?

[2021-06-17 17:38] vedhavyas commented on #67
@ThreeAndTwo we are working on a timeline and priorities soon. Will keep you posted here.

[2021-06-18 12:42] vgeddes opened #168 "Regression in CreateStorageKey"
We are users of GSRPC (and contributors too) in https://github.com/Snowfork/polkadot-ethereum. The new API for CreateStorageKey breaks compatibility. But it also includes a regression:

Suppose I have a single storage item 'MyPallet.Nonce'. It is a not a map or a double-map. However calling `types.CreateStorageKey(metadata, "MyPallet", "Nonce")` fails with:
[code]

So to get it to work I have to p

[2021-06-18 17:55] ThreeAndTwo commented on #168
same error. those demos exist error in https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v3，because v13 for CreateStorageKey breaks compatibility.

[2021-06-18 18:18] vedhavyas commented on #168
I'm reverting the breaking change, keeping the metadata v13  make a release in a bit. Thank you!

[2021-06-18 18:24] vedhavyas commented on #168
Sorry about this 🙏🏼

[2021-06-21 00:48] raindust commented on #165
I have tested it and it works for me, thanks @ParthDesai

[2021-06-21 00:48] #165 closed

[2021-06-21 01:44] ParthDesai commented on #168
@vgeddes @vedhavyas I have fixed CreateStorageKey to be backward compatible.

[2021-06-21 05:38] ParthDesai commented on #168
@vedhavyas @vgeddes  I have also added comprehensive test cases to make sure I have fixed any regression. PR: #169

[2021-06-21 05:40] ParthDesai commented on #168
@vgeddes @vedhavyas  PR: #169 adds comprehensive test cases for `CreateStorageKey`.

[2021-06-21 07:59] vedhavyas commented on #168
@vgeddes @ThreeAndTwo can you confirm if the regression is fixed with the PR above ?

[2021-06-21 08:46] ParthDesai commented on #168
@vedhavyas The regression was already fixed via PR: #166
But, it was not covered by tests. PR: #169 aims to cover the new changes made in `CreateStorageKey` with tests.

[2021-06-21 10:03] ThreeAndTwo commented on #168
@vedhavyas @ParthDesai I tested it. CreateStorageKey is normal, but I find decimal have inaccurate for token.
current balance: 855.359271
before balance: 8.55359271
in fact balance: 8.55359271

[2021-06-21 10:07] ParthDesai commented on #168
This may not be related to `CreateStorageKey` at all.

[2021-06-21 10:11] vedhavyas commented on #168
True.

@ThreeAndTwo double check your type please. Its usually the case

[2021-06-21 10:16] vedhavyas commented on #168
closing this since its confirmed to be fixed in latest patch.

@ThreeAndTwo please open an new issue if the above mentioned decimal issue still exists.

[2021-06-21 10:16] #168 closed

[2021-06-21 10:18] vedhavyas commented on #164
@ThreeAndTwo use this to get the key pair from mnemonic.
https://github.com/centrifuge/go-substrate-rpc-client/blob/master/signature/signature.go#L41

[2021-06-21 10:18] #164 closed

[2021-06-21 10:19] vedhavyas commented on #160
@icodezjb could you point url to pallet's events that are missing ?

[2021-06-21 10:21] ThreeAndTwo commented on #168
yeah, everything is ok, thx.

[2021-06-21 15:35] ThreeAndTwo opened #170 "Error { cause: None, desc: "unexpected first byte decoding Option" }), desc: "Could not decode `Call::contribute.2`" }), desc: "Could not decode `Call::Crowdloan.0`" } by call Crowdloan.contribute"
I hope to participate in crowdloan through call gsrpc on v13, and then there are the following questions.

`Verification Error: Runtime error: Execution failed: ApiError(FailedToConvertParameter { function: "validate_transaction", parameter: "tx", error: Error { cause: Some(Error { cause: Some(Error { cause: None, desc: "unexpected first byte decoding Option" }), desc: "Could not decode `Call::con

[2021-06-23 17:41] vedhavyas commented on #170
@ThreeAndTwo it looks like the the signature is Option<MultiSignature> instead of Signature. You would need to create a custom type for Option<Signature> for it work.

here is the example for OptionBytes that you can use as base to create Option<Signature>. You can also add that type to this lib through a PR if you would like.
https://github.com/centrifuge/go-substrate-rpc-client/blob/master/types

[2021-07-01 09:23] shulhan-tokenomy commented on #154
@vedhavyas Sorry to interject the closed issue, but what does this means "once a new version is released"? New version of what?

[2021-07-01 14:55] vedhavyas commented on #154
Once we move to substrate v3 and default account data is as mentioned above, we can make a PR to update default AccountInfo in gsrpc

[2021-07-04 03:31] romvarac opened #174 "How to get extrinsic hash"
Hi team,
This is my code,
[code]
I want to extrinsic hash in the same way nodejs code: extrinsic.hash.toHex().
Thanks for any support :)

[2021-07-22 14:11] ultd opened #176 "creating new substrate API returns "unsupported metadata version 13""
When running this:

[code]

Getting this error:

[code]

It seems this version is supported [here](https://github.com/centrifuge/go-substrate-rpc-client/blob/35e1b61fc8ac5d591a60fb7bbcc3fef3dc4f0a8c/types/metadata.go#L130) but still returning error.

[2021-07-23 15:00] muhamadazmy opened #178 "question: How to get extrinsic events from block?"
Sorry about this, i didn't know where to ask questions!
So, i call an extrinsic on substrate (custom pallet) and it raises an event. When i use this block hash to inspect the block on polkadot. The inspect view shows my successful extrinsic call AND the event itself

![image](https://user-images.githubusercontent.com/10920323/126800797-f0b76c0a-5bf8-4841-8c1d-5f0ba6c8924a.png)

But in code, when I

[2021-07-27 09:21] DiyiWi opened #179 "question: failed to decode events with MetadataV13"
EventRecordsRaw.DecodeEventRecords appear this error：

[code]

[2021-07-27 09:30] vedhavyas commented on #176
please use the latest release that supports v13. If the problem still exists, please reopen this ticket with version information and anything else you think wouldd help us reproduce the issue

[2021-07-27 09:30] #176 closed

[2021-08-03 11:39] dprydehawking commented on #170
However, option is private. I can't use it from outside. Any tips, please?

[2021-08-04 09:06] mikiquantum commented on #178
@muhamadazmy Events are part of the storage and not linked in the block itself. Instead you would need to query storage for the Events and filter by the blocknumber. Something like this:
[code]
Make sure that you create your own event structs, since this library only supports core substrate ones by default.

[2021-08-05 06:39] yuhui1208 opened #183 "What should i do if i want to connect a chain have a lot of non-substrate default types"

[2021-08-06 16:47] netrikare commented on #174
Encode to bytes, hash them using blake2b:

[code]

[2021-08-10 08:11] muhamadazmy commented on #178
@mikiquantum thank you so much for your answer, I will give it a try. Sorry about the late response, I was on a holiday :)

[2021-08-10 09:01] muhamadazmy commented on #178
@mikiquantum one more question. How to check also if an extrinsic fails ? since there is no event in that case

[2021-08-11 09:50] DylanVerstraete commented on #178
@mikiquantum if there are multiple extrinsics in a block, how to filter on the ones that you (we) submitted? There is no field `who` on `System.extrinsic_failed` Event..

[2021-08-11 12:33] netrikare commented on #178
You can get extrinsic index that event belongs to and use it to extract extrinsic signer from signature.

[code]

[2021-08-11 14:18] DylanVerstraete commented on #178
@netrikare thank you so much! :)

[2021-08-23 10:40] #178 closed

[2021-09-08 11:03] tolak opened #186 "Decode BlockNumber as uncompact uint rather than compact uint"
I noticed GSRPC decodes BlockNumber as a compact uint by default, see [here](https://github.com/centrifuge/go-substrate-rpc-client/blob/bbcac286d0817f85223a3defc13d00d5a1106387/types/header.go#L65), however, many events defined in substrate pallets  use uncompact uint BlockNumber. When people add their custom event types( including GSRPC own types), they would get events decoding failed.
So i sugg

[2021-09-09 08:17] vedhavyas commented on #186
@tolak the goal of the gsrpc is to let users bring in their own types that deviate from the substrate standard type. The block number is used in the header is encoded compact. If your types uses regaulr ints, you can create those types and use it out of the box. If you find any discrepancies with standard substrate type, please let us know here

[2021-09-09 08:19] vedhavyas commented on #183
You would need to create those types for youself and use them. Closing this now. Please reopen if you have any further issues using the library

[2021-09-09 08:19] #183 closed

[2021-09-10 02:09] tolak commented on #186
@vedhavyas Yeah, the BlockNumber in header is encoded compact, however some events defined in substrate pallets use uncompact encoding instead. This would case event decoding failed in GSRPC, for example, event type  [EventSchedulerScheduled](https://github.com/centrifuge/go-substrate-rpc-client/blob/bbcac286d0817f85223a3defc13d00d5a1106387/types/events.go#L1089) defined in GSRPC used BlockNumber

[2021-09-10 11:50] vedhavyas commented on #186
Gotcha. Would you like to give a PR with you prosed changes @tolak ?

[2021-09-11 20:28] mr-tron opened #187 "In DoubleMap second argument can be optional"
![image](https://user-images.githubusercontent.com/702560/132960749-e9e34b07-f70b-44cc-9057-b414982503c7.png)

But gsrpc has strict checking for both arguments:
github.com/centrifuge/go-substrate-rpc-client@v2.0.0+incompatible/types/storage_key.go:83
[code]
I don't know how it should be serialized if second argument is not presented so i can't do pull request.

[2021-09-16 10:41] ggwpez opened #188 "StorageSubscription.Unsubscribe race"
Hi there,

i am using `gsrpc` in a project and noticed that a race occurs when trying to unsubscribe from a `StorageSubscription` while a second one is running.
This is weird since i never spawned a go-routine myself.

Place the following test in `main_test.go` and execute `go test -v -count=1 -race -run=TestClient_Subscribe .`:
[code]
Test output: [race.txt](https://github.com/centrifuge/go-subst

[2021-09-22 14:10] DylanVerstraete opened #189 "Unknown error occurred when trying to query storage"
this code exits with panic: Unknown error occurred.

[code]

What is going on?

[2021-09-22 16:08] mr-tron opened #190 "check what submitted extrinsic was succesful"
[code]
But it doesn't work.
Block contains two transaction:
![image](https://user-images.githubusercontent.com/702560/134379851-45573aa6-d853-4db8-84b0-77ad7dc864b7.png)
And my transaction is second (index - 1).
But AsApplyExtrinsic in decoded event has value 0.
![image](https://user-images.githubusercontent.com/702560/134379632-8c43c6df-614f-4ce5-a8fd-da3d56702fb9.png)
It's strange because there

[2021-09-23 07:34] vedhavyas commented on #189
As discussed in the discord, you would need to have archival node to fetch old data. Hence the error from `QueryStorage`.

Closing this. Please open it if you still see the issue after connecting to archival node

[2021-09-23 07:34] #189 closed

[2021-09-23 07:51] DylanVerstraete commented on #189
Problem persists even when connecting to an archival node

[2021-09-23 07:56] DylanVerstraete commented on #189
In my opinion, throwing an error: `Unknown error occurred` is not very descriptive.. It looks like there is something wrong in the code rather than an issue implementing it.

[2021-09-23 08:00] DylanVerstraete commented on #189
Update:

When running a 3 node setup when 2 nodes are validators and 1 node is archival. It seems to work when connecting to one of the 2 validator nodes, but it does not work when connecting to an archival node

[2021-09-23 08:04] DylanVerstraete commented on #189
Update: I am receiving 2021-09-23 10:02:03  Unknown error: UnsafeRpcCalled(UnsafeRpcError) when trying to submit it to the archival node

[2021-09-25 12:56] #190 closed

[2021-09-25 12:56] mr-tron commented on #190
found error in my code

[2021-09-25 14:32] mr-tron opened #191 "support all events which exists in metadata"
I made generator https://gist.github.com/mr-tron/c8e4640aedd87ba3a2a03ec21b36773a
it's made for previous substrate version (metadata v12) but you can easily modify it for any substrate version and you requirements. It prints to stdout all events types from all modules in format for  file types/events.go and for types/event_record.go:60 EventRecordsRaw

[2021-09-25 17:02] vedhavyas commented on #191
Hey @mr-tron
unfortunately, that doesn't solve the problem. Since each chain will have its own set of events, gsrpc only brings the events from main susbtrate pallets. The remaining events need to be added manually for each project at the moment. Please have look here on how to add events that are missing https://github.com/centrifuge/go-centrifuge/blob/develop/centchain/events.go#L172

[2021-09-25 17:57] mr-tron commented on #191
I understand. I just made tool for automatization the process.
And it looks like gsrpc doesn't support all polkadot events (like Staking_Kicked) but I don't sure. My script can help with keeping it uptodate.

[2021-09-25 17:58] #191 closed

[2021-09-25 17:59] mr-tron commented on #187
In polkadot-js it works via state_getKeysPaged and queryAt.

[2021-09-25 17:59] #187 closed

[2021-09-25 18:19] mr-tron opened #192 "Implement state_queryStorageAt"
https://github.com/paritytech/substrate/issues/5220

[2021-10-13 07:34] Noc2 opened #195 "Web3 Maintaince Grant"
Btw we recently introduced [maintenance grants](https://github.com/w3f/Grants-Program#maintenance-grants)
Feel free to apply ;-)

[2021-10-13 13:58] kaichen opened #196 "Metadata v14 support"
After module v9110 block minted, now the NewSubstrateAPI function would throw `unsupported metadata version 14` error on both polkadot and kusama.

Wondering about v14 support.

[2021-10-20 05:44] elricWu commented on #196
unsupported metadata version 14

[2021-10-20 13:22] mr-tron opened #199 "floating bug on decoding extrinsics"
sometimes extrinsic decoding are failing with error `type *types.ExtrinsicSignatureV4 does not support Decodeable interface and could not be decoded field by field, error: expected more bytes, but could not decode any more`
Very strange. It happens in
`go-substrate-rpc-client/rpc/author/pending_extrinsics.go:24 PendingExtrinsics()`
But when I copy transaction hex string and try to decode in manual

[2021-10-20 15:53] mr-tron commented on #199
I think it can be my problems.

[2021-10-20 15:53] #199 closed, assigned to nobody

[2021-10-21 13:09] yaoyf888 opened #201 "Dot error unsupported metadata version 14"

[2021-10-21 13:31] yaoyf888 commented on #196
@kaichen Do you support metadata version 14?

[2021-10-21 14:43] vedhavyas opened #202 "GSRPC: metadata 14"

[2021-10-21 14:44] #202 closed, assigned to nobody

[2021-10-21 14:44] #201 closed, assigned to nobody

[2021-10-25 08:59] vedhavyas opened #203 "Missing events on gsprc."
[code]

With v3 substrate, we want to double check if the frame events are added to the events record

[2021-10-31 15:31] GooSatoru commented on #196
@mikiquantum what's the progress now, i can't use gsrpc connect any endpoint.

[2021-11-04 06:32] GooSatoru commented on #196
@vgeddes @mikiquantum any update for this? the sdk does't update as a long time.

[2021-11-08 20:49] mr-tron opened #208 "side effect in connection functions"
This code works:
[code]

This doesn't:

[code]
I don't know how but call NewSubstrateAPI change `/types` package behavior

[2021-11-09 13:21] mr-tron commented on #208
I found. You change decoder behavior in rpc client package. https://github.com/centrifuge/go-substrate-rpc-client/blob/6435c3ea9558465ed2845c811a29731d79b8214c/rpc/main.go#L45

Very cool.

[2021-11-09 13:21] #208 closed

[2021-11-11 06:38] 99Kies opened #210 "about Vec<u8> or Vec<Balance>, Which type should I use?"
I didn't find what I wanted under `types`, I didn't know how to assign to this type.

[2021-11-11 06:43] 99Kies commented on #210
use this?
[code]

[2021-11-11 12:10] 99Kies commented on #210
I want to ask you a question about `string`.
`ink_prelude::string::String`

[2021-11-12 08:38] 99Kies commented on #210
[u8; 32]

[2021-11-15 09:50] NunoAlexandre commented on #210
@99Kies I am missing context to your question. Could you provide me with that?

[2021-11-15 14:13] NunoAlexandre commented on #210
@99Kies please re-open when you are able to provide more details on that issue.

[2021-11-15 14:13] #210 closed

[2021-11-16 09:11] NunoAlexandre commented on #174
Closing due to inactivity and a provided answer already.

[2021-11-16 09:13] NunoAlexandre commented on #67
@vedhavyas could you post an update on this issue?

[2021-11-16 16:38] NunoAlexandre opened #215 "Discussion: Combine Map, DoubleMap, and NMap"
_Originally posted by @vedhavyas in https://github.com/centrifuge/go-substrate-rpc-client/pull/206#discussion_r750077136_

## The problem

In the comment thread linked above, @vedhavyas suggested that we should still handle the three types of Maps in v14: `Map`, `DoubleMap`, and `NMap`.

In v14, unlike <V14, the Storage Entry type only has two variants, `Plain`, and `Map` (See [the definition](htt

[2021-11-16 17:07] NunoAlexandre commented on #215
Reporting on an online discussion about this:

While at the metadata v14 there is only one, abstracted notion of Map, at the runtime level there are still 3. Therefore, there is value for users of this client to be able to tell them apart. Now, I am not sure if that is possible as I am quite sure that an NMap can have 1+ keys, making it impossible to tell an NMap of 1 key apart from a Map, and a m

[2021-11-16 19:25] NunoAlexandre commented on #215
Looking at `StorageNMap` in the substrate repo, I want to highlight the following bits:

[code]

Examples in use:

- Nmap with two keys
[code]

- With three keys:

[code]

❗ The `NMap2` example above would be encoded as a Map with two hashers. With metadata v14, we would have no way to tell whether originally that type was a `StorageNMap` of 2 keys or a `DoubleMap`.

 If the idea with keeping the

[2021-11-17 08:54] NunoAlexandre commented on #215
See https://github.com/paritytech/frame-metadata/pull/23#issuecomment-970612572 for what the authors of the merge of the 3 variants in the metadata have to say. Highlights:

- > There is no difference from a Map vs a NMap with one key, and a DoubleMap vs a NMap with 2 keys from the user perspective, the only difference is the slight difference in the function signatures in the rust implementation.

[2021-11-17 17:21] mikiquantum commented on #215
Thanks @NunoAlexandre for  the research. Makes sense. 👍

[2021-11-17 18:06] #215 closed

[2021-11-18 09:24] NunoAlexandre opened #216 "Drop support for metadata versions < 9"
Metadata versions older than v9 are essentially dead code laying around.

Note that newer versions may depend on types from older versions, so we need to cherry-pick those types, functions, and tests assets carefully.

[2021-11-18 14:43] vedhavyas commented on #196
Done through #206

[2021-11-18 14:43] #196 closed

[2021-11-19 09:12] NunoAlexandre commented on #196
Thanks for all your patience and eagerness. We have just [released v.4.0.0](https://github.com/centrifuge/go-substrate-rpc-client/releases/tag/v4.0.0) with the Metadata v14 support included 🚀

[2021-11-22 09:12] NunoAlexandre opened #219 "Update gsrpc version in https://pkg.go.dev/"
I just realised that the latest published version of this library is dated Oct 6, 2020.

We should publish the latest version and (possibly) make all the gsrpc versions in between available too.

[2021-11-22 09:12] NunoAlexandre commented on #219
@vedhavyas are you the man with the powers? :)

[2021-11-22 09:34] vedhavyas commented on #219
@NunoAlexandre latest is automatically scrapped
I can see the latest version here - https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v4

[2021-11-22 09:47] NunoAlexandre commented on #219
hm. Why does it default to an older version tho 🤔 ? https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client defaults to `Version: v2.0.0+incompatible Latest Published: Oct 6, 2020`

[2021-11-22 10:22] vedhavyas commented on #219
It is not defaulting to v2. Since the module version paths are important, you have to use v4 there
https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v4

A simple search gives me v4 - https://pkg.go.dev/search?q=gsrpc&m=package

[2021-11-22 10:27] NunoAlexandre commented on #219
My search flow was to search for `gsrpc go` on google and open the pkg.go.dev entry, which defaulted to that older version. For someone new to go I find that confusing. But I now see the little disclaimer on top `The highest tagged major version is v4.` 👍

[2021-11-22 10:27] #219 closed

[2021-11-22 10:29] NunoAlexandre commented on #203
@vedhavyas is this issue related to #52 by any means? They seem to be separate things, one being concerned with an event record failed to deserialise to a (missing) type def while this one seems to be related to a failed search but maybe there's some overlap I could learn about?

[2021-11-22 10:31] NunoAlexandre commented on #188
@ggwpez did you happen to resolve this issue?

[2021-11-22 10:36] ggwpez commented on #188
No, we just refrained from running the race tests in [our project](https://github.com/perun-network/perun-polkadot-backend)…
I saw that this is old code copied from [geth](https://github.com/ethereum/go-ethereum), maybe it could help to update it? I dont know.
Instead it could also use a fork as subrepo here, to keep track which files were changed from the geth code.
@NunoAlexandre

[2021-11-22 15:29] NunoAlexandre opened #220 "Build event types using metadata's type registry"
## The problem

Currently, users of the gsrpc library need to [manually define all the event types the chain](https://github.com/centrifuge/ChainBridge/blob/master/shared/substrate/events.go) they connect with offers. If they fail to define any of the event types or forget to update them, whenever said event is encountered and a deserialisation is attempted, it will fail and the whole thing crumbl

[2021-11-23 12:56] vedhavyas commented on #203
@NunoAlexandre similar issue but with older version of substrate. We might be missing some more with latest substrate.
But this one https://github.com/centrifuge/go-substrate-rpc-client/issues/56 pretty much encompass the missing events during the initialisation

[2021-11-23 13:51] NunoAlexandre commented on #220
@vedhavyas @mustermeiszer @tankofzion Appreciate your thoughts, specially regarding my formulation of the problem. Please let me know if I am seeing that correctly. Any other feedback is welcome as well!

[2021-11-26 09:45] scrawld opened #222 "How does Metadatav14 get extrinsic data from a block?"
I'm trying to read details in the extrinsic call, but I'm not sure how to go about it.

[code]

I want to get the receiving account and transfer balance
But I don't know what to do with 'ext.method.args'

[2021-11-29 06:11] #222 closed

[2021-11-29 08:42] NunoAlexandre commented on #222
Hey @scrawld, sorry for our delay in responding. Would you mind posting the answer to your own question, for the potential good of others please? Thanks a lot!

[2021-11-29 08:52] scrawld commented on #222
That's how I got the receiving account.
[code]

[2021-11-29 08:56] scrawld commented on #222
However, I ran into problems getting events for the block.
`unable to find field ParaInclusion_CandidateIncluded for event #1 with EventID [53 1]`

[code]
I'm not sure if I'm doing it the right way.

[2021-11-29 22:50] mikiquantum commented on #220
@NunoAlexandre Thanks for triggering this topic. Here are my two cents:

We can have a fallback case where the client automatically re-fetches the metadata and update the types in case of parsing error.

I believe that we have enough information about the types that we do not need to go for a static approach like the one in Proposal A.
Proposal B, seems more complete (and a bit more complex). In a

[2021-12-01 11:06] mustermeiszer commented on #220
I am also in favor of approach B. Although, I am at no means strong in opinion here, neither the best person to add valuable input.
The metadata v14 of gsrpc will break with older versions anyways, right?

[2021-12-01 12:19] vedhavyas commented on #220
Either approach is fine at the moment @NunoAlexandre.
With generics being added to go in 1.18, I think it should pretty much replace the code gen part if there was any.

As for the events, we can get all the events from metadata, no?
then user we can provide a default EventRecord or can replace with custom one, we cross those events with the ones in metadata.
So using that and what @mikiquantum sa

[2021-12-01 19:28] NunoAlexandre commented on #220
Thank you @mikiquantum @mustermeiszer @vedhavyas for the valuable feedback, really 🙏

### Features

With all of your feedback considered, I see the following features:

1. When connecting to a chain, check whether the user-defined event types are well implemented.
    If they are not, fail early with a useful error message that points the user to the problematic event/field.

2. For event types th

[2021-12-14 08:24] scrawld opened #224 "How to build a transaction with a left time?"
I want to construct a trade with time left over, but I'm not sure how to go about it.
[code]
The way to get Era I'm not sure if it's correct, but the deal constructed this way is a failure.

[2021-12-17 03:21] raojianli opened #225 "signed tx is not safe when use subkey tool"
`cmd := exec.Command(subkeyCmd, "sign", privateKeyURI, "--hex")`

[2021-12-20 02:17] #225 closed

[2021-12-20 02:21] raojianli opened #227 "how to convert accountID to publicKey?"

[2021-12-20 06:32] #227 closed

[2021-12-22 03:27] raojianli opened #228 "use api.RPC.Author.SubmitExtrinsic(ext) to send extrinsic failed"
`Verification Error: Runtime error: Execution failed: ApiError(FailedToConvertParameter { function: "validate_transaction", parameter: "tx", error: Error { cause: Some(Error { cause: Some(Error { cause: None, desc: "Could not decode `MultiAddress`, variant doesn't exist" }), desc: "Could not decode `Call::transfer::dest`" }), desc: "Could not decode `Call::Balances.0`" } })
`

[2021-12-22 03:47] raojianli commented on #170
@dprydehawking  have you solved this issue?  how to submit ext

[2021-12-28 08:43] ye2012 commented on #222
unable to find field ParaInclusion_CandidateIncluded for event #1 with EventID [53 1]

I got this issue, too.
do you find solution to get events?

[2021-12-28 09:27] scrawld commented on #222
No solution found, I am now interacting with the node through [substrate-api-sidecar](https://github.com/paritytech/substrate-api-sidecar), which can get events for you

[2022-01-27 08:20] seunlanlege opened #232 "Can't decode types.SignedCommitment"
example rust code:

[code]

output:

[code]

now go code using this lib:

[code]

which outputs

[code]

[2022-02-02 11:21] csknk opened #235 "chain.GetBlock() Can't decode certain blocks"
For certain blocks, `chain.GetBlock()` returns an error related to improper decoding of the block.

This example is based on the `TestChain_GetBlockHash()` test in `get_block_hash_test.go`, slightly modified to access Westend:

[code]
The result is:
[code]
The block hash is correct, eror follows the call to `chain.GetBlock()`

Blocks either side of 9317312 decode fine and the test passes, so it lo

[2022-02-11 00:37] mikiquantum opened #236 "Support latest Substrate version for ChainBridge"
This issue might be already half-way done since we already support V14. But I am sure we are missing some types to be able to connect a ChainBridge Relayer to a parachain.

[2022-02-17 10:18] ParkerXie opened #239 "SubmitExtrinsic always return err"
Hi,when I run unittest to  SubmitExtrinsic ,it always return the follow err:
Message:"Verification Error: Runtime error: Execution failed: ApiError(FailedToConvertParameter { function: \"validate_transaction\", parameter: \"tx\", error: Error { cause: Some(Error { cause: None, desc: \"unexpected first byte decoding Option\" }), desc: \"Could not decode `ChargeAssetTxPayment::asset_id`\" } })"

[2022-02-17 12:44] #239 closed

[2022-02-18 06:41] ParkerXie opened #240 "ChargeAssetTxPayment extension hasn't support?"
Hi,My blockchain base on substraste  that use pallet ChargeAssetTxPayment ,when I submitextrics with  go-substrate-rpc-client always return following error:
Code:1002
Message:"Verification Error: Runtime error: Execution failed: ApiError(FailedToConvertParameter { function: \"validate_transaction\", parameter: \"tx\", error: Error { cause: Some(Error { cause: None, desc: \"unexpected first byte de

[2022-02-18 08:46] xtony77 opened #241 "How to make NewCall Vector arguments work?"
If pallet method arguments is vactor data, What can I do?

pallet sample code
[code]

I tried this code, but it didn't work.
[code]

[2022-02-18 17:35] mikiquantum commented on #240
Hi @ParkerXie,

We haven't added support for `ChargeAssetTxPayment` type, so you would need to create your own encoder/decoder based on the assetId type that is passed from the runtime. Making sure that the when encoding the struct you prepend 1 to the rest of the value or 0 if none, since that value is an Option and it always expects Some or None.

[2022-02-18 17:38] mikiquantum commented on #241
Hi @xtony77 what is the error you are getting?

[2022-02-18 20:53] mikiquantum commented on #235
Closing for now since #242 was merged on master, please reopen if issue persists.

[2022-02-19 12:41] xtony77 commented on #241
I found the reason, is the pallet storage code written wrong, so no data can be found, the sample code no problem, close this issue. Thanks!

[2022-02-19 12:41] #241 closed

[2022-02-21 10:19] csknk commented on #235
Thanks @mikiquantum - just confirming that #242 has fixed this issue.

[2022-02-25 16:28] lucgerrits opened #244 "cross compile this library (for micro-controllers and other) ?"
Hi,
Is it possible to cross compile this library in a way to use it in micro-controllers projects ?
For example, cross compile it to include the library in Arduino IDE, mbed and such.

Thanks in advance,
Luc

[2022-03-23 10:11] DmitriyMolch opened #247 "ChainBridge substrate error "expected more bytes, but could not decode any more""
How to reproduce:
1)`git pull git@github.com:ChainSafe/ChainBridge.git`
2)`go get -u -v -f all`
3)`cd ./cmd/chainbridge`
4)`./chainbridge accounts import --privateKey 0x4c9cc36d8e528d1e2c41f5eb2f8dea9b79c7d717c4f1668aa9355665f0e1e13d --sr25519`

Enter the requested password in the console: `YDMKUCkf8TT4k27`
5) `touch config.json `
Update `config.json` content:
[code]

6)`go build -o ./`
7)`./chain

[2022-03-23 17:09] mikiquantum commented on #247
@Dmitriy1984Molchanov We are pushing in the next few days new substrate events that changed since the last time we upgraded them. This one will be fixed.

[2022-03-31 23:22] #236 closed

[2022-04-07 13:34] johnuopini opened #251 "Decode to JSON rather than struct"
Great project, i am trying to retrieve on chain Identity via `Identity.IdentityOf` storage call, the main issue is that the original struct AccountId32 is pretty complex, so is there any way to access a field without having a named struct behind? Is decoding to JSON rather than a struct an option by reading the metadata?

[2022-04-12 08:32] Dmitriy1984Molchanov commented on #247
@mikiquantum ,  did you have a chance to fix this issue?

[2022-04-14 00:38] mikiquantum commented on #247
@Dmitriy1984Molchanov Looking a bit deeper, found a few things:
- That version of ChainBridge uses an older version of GSRPC (v2.0.0)
- Your substrate chain uses metadata V12 (a few versions old) and therefore the types defined in the events.go file are already different compare to what your chain produces.

For that block in the test there are two event types that are already different:
- offence

[2022-04-18 02:25] mohaijiang opened #254 "How to exec ink contract ?"
Can I exec  ink contract  function with go-substrate-rpc-client ?

![image](https://user-images.githubusercontent.com/3366709/163744474-0a57c4fc-7edd-4fc5-9d01-4d8946fd607f.png)

The following picture is an example of js, does go have a similar method?

[code]

[2022-04-27 12:27] johnuopini commented on #251
As a reference i am currently using golang scale decoder  using raw data from this library and it works great

[2022-04-27 12:31] johnuopini commented on #38
I definitely need this, i create a client every 2/3 minutes to get data from chain, if the client gets stuck i have no way to cancel that call and retry, i haven't found any fix so far, having an additional constructor that accepts a context or add a context to the call would be great

[2022-05-03 08:03] csknk commented on #220
Thanks for working on this issue - I have bumped into problems with user-defined types several times now while interacting with Polkadot. @NunoAlexandre - what do you think is the best "manual" solution to use as a short-term workaround?

In other words, what is currently the best way to determine chain-specific custom types?

[2022-05-10 02:32] l532857663 opened #256 "v4 types.AccountInfo struct analysis error?"
I failed to get the account information. I queried it and found that types.AccountInfo is missing a field, and there is 4byte of information in front of the Data field. please confirm  https://github.com/centrifuge/go-substrate-rpc-client/blob/v4.0.0/types/account_data.go

[2022-05-11 05:35] mohaijiang opened #257 "add substrate pallet-asset-tx-payment support"
Substrate added a new pallet named `pallet-asset-tx-payment`, that cause go-substrate-rpc-client cannot makeASimpleTransfer anymore when connect with substrate after tag 'monthy-2021-11' 。 The commit is  `https://github.com/paritytech/substrate/commit/4581dd99ed59f65ede46a34c81133177d5824a68`.

[2022-05-15 20:12] aeryz commented on #256
It is probably `sufficients` field. See: https://docs.substrate.io/rustdocs/latest/frame_system/struct.AccountInfo.html. Also see https://github.com/polkadot-js/api/blob/85e7e3c11c668ecb7c0d7a0a346535c9cdb273b7/packages/types-augment/src/lookup/substrate.ts#L10.

[2022-05-18 23:49] #203 closed, assigned to nobody

[2022-05-24 08:12] l532857663 commented on #256
Yes, without this field, it is an error to get the account balance

[2022-05-25 09:10] xianggy opened #260 "query timestamp of one block"
Hi,
I can't find any RPC to get timestamp of one block.
Like the Nodejs API,  api.query.timestamp.now.at(blockHash).
How to get timestamp with this go-sdk?
Thansks.

[2022-05-25 09:10] cdamian commented on #228
@raojianli Thank you for reaching out. We recently did an update where we added and adjusted types. Are you still able to reproduce this issue?

[2022-05-30 08:49] raojianli opened #263 "how to add custom type json ?"

[2022-05-30 17:34] cdamian commented on #263
Hey @raojianli,

You can do that by creating a custom struct that implements the decodeable/encodeable interfaces, there are plenty examples on how to achieve that in the `types` folder, then use that struct to encode/decode to/from JSON.

[2022-05-30 17:35] cdamian commented on #263
Also, we are looking into changing the current way of generating all these entities and we will keep the JSON aspect in mind when doing so. Thank you for contacting us!

[2022-06-06 14:35] xianggy commented on #260
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-06 16:05] csknk opened #264 "How to build event types using metadata?"
Is it possible to retrieve data types for events from metadata?

The objective is to extend the `types.EventRecords` type for the given chain (in my case, Polkadot) to prevent unkown type errors when decoding events.

I'm attempting to list out the data types for events, and I'm unsure how `si1Lookup` works.

Sample code:

[code]
Related to issue #220

[2022-06-21 14:10] ntchjb opened #268 "Failed to decode System_ExtrinsicFailed event"
I was trying to decode events in a block at the number `10834783` and it failed. I found that it is because `ModuleError` type has `Error` field with `U8` type. However, the metadata specifies that it has type `[4]U8`. So, is it safe now to change `ModuleError.Error` to the new type `[4]U8`?

Reproducible Code
[code]

## Expected Result
[code]

## Actual Result
[code]

[2022-07-05 16:28] freddyli7 opened #276 "wasm trap: wasm `unreachable` instruction executed when calling SubmitExtrinsic"
Hey there! I was trying to integrate with GSRPC lib in my go project, and I got this error when calling `SubmitExtrinsic`:

<img width="898" alt="image" src="https://user-images.githubusercontent.com/13714909/177372364-3c995324-c568-4fa7-acee-e7fe94f23846.png">

I was running two local relay chain nodes via docker container, version `0.9.24-22836e55d41`
GSRPC version `v4.0.2`, and I was following

[2022-07-12 18:14] freddyli7 commented on #276
Some more info:

I setup a local network with `v0.9.23` of polkadot binary and `v0.9.23` of polkadot-parachain binary, then tried the @polkadot/api with balance transfer, asset create, mint, transferKeepAlive etc. All works fine against my local network, but GSRPC doesn't. Same error as I mentioned above.

So I did a bit debugging, and I found that for the same balance.transfer transaction, the en

[2022-07-12 21:08] freddyli7 commented on #276
Found more info:

`NewCall()` in `github.com/centrifuge/go-substrate-rpc-client/v4/types` is trying to encode the types.Address but turned out `types.Address` didn't implement `scale.Encodeable` interface so that it tries to do type assertion and then call `Encode` method, however, the result starting with `255` instead of `0` for `types.Address`, and which eventually cause the wasm error. If I ma

[2022-07-12 22:57] mikiquantum commented on #276
Hi @freddyli7 try changing the line
[code]
by
[code]

[2022-07-13 00:06] freddyli7 commented on #276
hmm... ok it's finally working. The example is using `types.NewAddressFromHexAccountID`, maybe you guys should update that.  thanks @mikiquantum

[2022-07-13 00:06] #276 closed

[2022-07-13 22:10] freddyli7 opened #280 "Assets.create call param types"
hey guys, so now I know that this `wasm unreachable issue` is because the param type of the tx is wrong, and I'm having the same issue now when sending `Assets.create` call on the parachain, the doc is saying that type should be `create(id: Compact<u32>, admin: MultiAddress, min_balance: u128)`, and I followed that, but it didn't work, I have a feeling that I'm using the wrong type but don't know

[2022-07-14 09:38] cdamian opened #281 "Decoding errors"
When checking various events in Centrifuge `catalyst` I stumbled upon some decoding errors:

[code]

We need to rename some of the fields in the `EventsRecord` struct and/or fix encoding/decoding methods of other event types.

[2022-07-14 09:41] cdamian commented on #281
Note - maybe it makes sense to create a test that takes the last X events from `catalyst` and `altair` and try to decode all of them.

[2022-07-14 15:55] freddyli7 commented on #280
I'm running a local network with relay chain and parachain, both version are `v0.9.23`
polkadot relay chain node binary from here: https://github.com/paritytech/polkadot
parachain node binary from here: https://github.com/paritytech/cumulus

[2022-07-15 11:45] cdamian commented on #280
@freddyli7 Can you trying using `U64` for the balance? Cumulus has a different type for balance based on - https://github.com/paritytech/cumulus/blob/v0.9.230/parachains/runtimes/testing/rococo-parachain/src/lib.rs#L490

[2022-07-15 18:33] freddyli7 commented on #280
@cdamian tried with `minBalance := types.NewU64(1000000000000)`, got Invalid Transaction error when calling `SubmitExtrinsic`

[2022-07-16 12:18] LXHLeaner opened #282 "what is the centrifuge endpoint ?"
why the  endpoint "wss://fullnode.centrifuge.io" response the date is https://centrifuge-standalone-history.subscan.io/
but not the https://centrifuge.subscan.io/

[2022-07-18 05:14] cdamian commented on #280
@freddyli7 can you try creating the extrinsic using https://polkadot.js.org/apps/#/explorer to see if you get the same error?

Also, did you start your local setup using the guide described here - https://github.com/paritytech/cumulus/blob/polkadot-v0.9.23/README.md#local-setup ?

[2022-07-18 06:15] cdamian commented on #282
Hi @LXHLeaner I'm not sure I understood your question. If you are asking about the difference in data between the 2 subscan links that you mentioned, https://centrifuge-standalone-history.subscan.io/ points to the legacy/standalone chain from which we migrated a couple of months ago. https://centrifuge.subscan.io/ points to the latest running version.

[2022-07-18 15:35] freddyli7 commented on #280
hey @cdamian, I tried on UI of `polkadot.js.org/app` and also tried writing some js code integrating with `@polkadot/api` lib, both work fine for all `assets` related extrinsic calls against my local network.

Yes that is what I followed to setup the local network, also on my local network, both relay chain and parachain are producing blocks without issues, and I also managed to register the parac

[2022-07-21 08:35] cdamian commented on #280
@freddyli7 I did more testing and it doesn't seem to be related to the eras, the UI is able to send transaction with both immortal and mortal eras without any errors. I will keep checking this out when time allows and get back to you.

[2022-07-29 01:38] mikiquantum commented on #280
@freddyli7 The issue is that the cumulus runtime doesn't validate the TransactionVersion as extra signed payload parameter.

GSRPC default behavior is to use the latest ExtrinsicSignatureV4 payload which contains this parameter. Therefore that cumulus parachain cannot validate the signature because it is reconstructing it with a different payload than what it was originally sent by the client.
It

[2022-07-29 16:48] mikiquantum commented on #280
@freddyli7 This PR has been merged: https://github.com/paritytech/cumulus/pull/1483 Feel free to pull down the latest cumulus and rebuild your parachain locally. Closing this for now, please reopen if issue persists.

[2022-07-29 16:48] #280 closed

[2022-08-03 14:58] jekabolt opened #284 "SubmitExtrinsic Verification Error"
Im using chain DataHighway Tanganika Kusama Parachain using DataHighway Collator v3.6.0-b938f49-x86_64-linux-gnu

trying to SubmitExtrinsic

my code below
[code]

Im getting

[code]

any ideas what is wrong

[2022-08-08 06:07] ygcool opened #287 "MakeASimpleTransfer Error"
[code]

error:

type *types.AccountInfo does not support Decodeable interface and could not be decoded field by field, error: type *struct { Free types.U128; Reserved types.U128; MiscFrozen types.U128; FreeFrozen types.U128 } does not support Decodeable interface and could not be decoded field by field, error: Cannot read the required number of bytes 16, only 4 available

<img width="1350" alt="im

[2022-08-08 08:51] ygcool commented on #287
Can be solved. thank you!

When I send a transaction,New error:
[Example](https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v4#example-package-DisplaySystemEvents)
unable to decode field 4 event #1 with EventID [2 2], field Balances_Transfer: expected more bytes, but could not decode any more

[2022-08-08 10:31] cdamian commented on #287
@ygcool same reason as before, the current `Value` field that we have for that event is `U128` when the parachain sends it as `U64`.

Making the following adjustment will fix that issue:
[code]

The same applies to any event, call or storage entries that use the `Balance` defined in that parachain.

[2022-08-09 03:17] ygcool commented on #227
Hi, How did you solve it? Could you tell me?  thanks

[2022-08-09 03:53] ygcool commented on #287
thank you.
and, how to convert accountID to publicKey?  or how to convert accountID to address string?

[2022-08-09 06:58] ygcool commented on #287
1. If I use this [example](https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v4#example-package-DisplaySystemEvents) listen transactions, I passed balances_ Transfer can get from/to/value, How to get transaction hash and block number? Or how to make sure the deal is successful
2. and, In other codes, how can I get details through transaction hash

[2022-08-09 13:37] sheenhx commented on #287
you can find basically all your answers in the types repo or RPC repo

[2022-08-09 13:42] sheenhx commented on #284
We solved this by decode the correct tx signed message from PolkadotJS.
And we found out the go-rpc code writes the TX message in a wrong sequence

``0x390284005675bfca5d558c0df741ce6017beb274d97f262144441f8d622f7e62bb0e411c0168d01fbd9c7849bfdb51cde9d7a3494e1e7af22160f2a361f3672168f5d9085db91a24ea9d9a9d3c9bdaa8f7a347c28a0e4f930aa7e8f0af484547086b9aca89002400000f00009425ad96a3583bfe7de1f0a722ee7bbe

[2022-08-10 06:15] ygcool commented on #287
[code]

However, the free I obtained is different from the actual balance.

Like this: https://dock.subscan.io/account/3FShsMXRytNXrVFAXzD5L5vCMapbRMhwzpdBK3urgBLVcQJT
balance is: 3.269
But the value obtained is always 16777216

[2022-08-10 07:30] ygcool commented on #287
Solved this problem, `AccountInfo `:
[code]
No solution has been found to these two problems:
1. If I use this [example](https://pkg.go.dev/github.com/centrifuge/go-substrate-rpc-client/v4#example-package-DisplaySystemEvents) listen transactions, I passed balances_ Transfer can get from/to/value, How to get transaction hash and block number? Or how to make sure the deal is successful
2. and, In ot

[2022-08-12 11:58] jekabolt commented on #284
@sheenhx Hey I didn't get what do you mean
I found that  SectionIndex & MethodIndex are in wrong places
and for browser generated tx they push SectionIndex in front of args

[code]

<img width="896" alt="image" src="https://user-images.githubusercontent.com/20604109/184348881-af239f98-ac7e-45ec-ba45-5855cafe927e.png">

here I got two nearly identical txs
[code]
0x4d028400d624d7a4c7ad34cdd007428709

[2022-08-12 12:01] jekabolt commented on #284
@sheenhx I took payload from generated tx
[code]
0x1232c17b4a23edfeb8cda558721c8892af458ceccf0e17a618d31f6c7a66d43d64ddcaed7fa1cbe0593fd340958c7129ac9ca10eac86ff8f8fff7715cd5cf884
[code]
and browser verification

[2022-08-12 12:06] jekabolt commented on #284
How can I resolve this error?

Thanks

[2022-08-16 15:22] HamzaYasin1 opened #289 "1002: Verification Error: Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiAddress: RuntimeApi, Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiAddress"
`1002: Verification Error: Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiAddress: RuntimeApi, Execution: Could not convert parameter `tx` between node and runtime: No such variant in enum MultiAddress`

This issue wasn't in substrate 2.0.0 but after upgrading the runtime to 2.0.1 so facing this error.

You can produce this issue while using the

[2022-08-18 14:46] DylanVerstraete commented on #268
We encountered the same issue, we fixed it by forking and adding this: https://github.com/threefoldtech/go-substrate-rpc-client/commit/0abbabef7232b6af10b02d89f289a7b410b7d25b

[2022-09-14 12:12] puneetjindal3 opened #294 "unsupported metadata version 14"
I'm connecting a substrate using `ws://ip:9944` with below code

[code]
Error

[code]

Can anybody help me in this I'm using `master` branch for this

[2022-09-14 12:51] puneetjindal3 commented on #294
I'm installing the dependency in my code by using command `go get github.com/centrifuge/go-substrate-rpc-client@master`. But the thing is when I'm comparing the file of master branch with the `vendor/github.com/centrifuge` then its totally different in my local the metadata is only updated to 12 but in repo its upto 14. Can anybody help me to get it.

[2022-09-14 13:03] #294 closed

[2022-09-22 13:17] tpj opened #297 "Support for authorization request header other than Basic?"
I would like to connect to a Polkadot node that requires me to authenticate with a request header like this:

    X-Auth-Token: [auth token goes here]

Is that possible using the client?

Looking through the code, it seems that Basic RFC7617 authentication is [supported](https://github.com/centrifuge/go-substrate-rpc-client/blob/c4bbd50b22a167751797980a731c5845ddbcc2a4/gethrpc/websocket.go#L166) w

[2022-09-22 16:47] puneetjindal3 commented on #239
@ParkerXie Can you tell me what the exact error you are facing on blockchain? Reason I'm also facing the same error right now.

[2022-09-23 06:04] puneetjindal3 commented on #240
@ParkerXie I'm also facing the same issue. did you find anything for that?

[2022-09-23 06:12] puneetjindal3 commented on #240
@mikiquantum Can you just explain it more?

[2022-09-23 06:42] puneetjindal3 opened #298 "ChargeAssetTxPayment::asset_id"
Hi,

I'm using the below code for transferring the balance from alice to bob but facing the below issue:-

`
func SendData(sign, data []byte) error {
	// This sample shows how to create a transaction to make a transfer from one an account to another.

	// Instantiate the API
	api, err := gsrpc.NewSubstrateAPI(os.Getenv("B_HOST"))
	if err != nil {
		panic(err)
	}

	meta, err := api.RPC.State.GetMet

[2022-09-28 03:45] LXHLeaner opened #299 "polkadot staking"
1.  Can use this "https://github.com/centrifuge/go-substrate-rpc-client" to deal with polkadot staking ?
2. Can use this "https://github.com/centrifuge/go-substrate-rpc-client"  to search transaction by txid?

[2022-09-29 09:54] mohaijiang commented on #240
I got same issue.

[2022-09-29 10:00] cdamian commented on #240
Please try https://github.com/centrifuge/go-substrate-rpc-client/tree/add-charge-asset-tx-support.

[2022-09-29 13:47] johnuopini opened #300 "How to getKeys in a Map Storage query?"
I polkadot JS i can disable an optional Map query option and get all the results, how do i do the same with this client? How can i get all the Keys and loop through them in a Map type of storage query?

[2022-10-08 20:27] vcastellm opened #302 "Incorrect dependency?"
According to `go.mod` it depends on https://github.com/centrifuge/go-substrate-rpc-client/blob/master/go.mod#L15 in the v4 but it's not working for me.

It only works for me if I manually add dependency on github.com/vedhavyas/go-subkey/v2

[2022-10-11 05:00] bhaagiKenpachi commented on #174
@netrikare extrinsic hash ------- 4�Q�Z���̎s*�1J���M���˚T�
I followed your suggesstion. When I'm trying to print it showing the above result. Can you guide me here ?

[2022-10-11 07:28] bhaagiKenpachi opened #303 "extract utility batch extrinsic transaction from block"
I'm having trouble in extracting extrinsic details. I want to signer, signature, hash, utility batch <{ system::remark, balance::transfer }> details, fee e.t.c

Extrinsic tx:
https://westend.subscan.io/extrinsic/0xa9a708657612ce331f0ced07f648d46d810d1eb920aece0ba462226c56f2d1eb

package main

import (
	"fmt"
	dotc "github.com/centrifuge/go-substrate-rpc-client/client"
	dotRpc "github.com/centrifug

[2022-10-12 13:34] cdamian commented on #174
Try `hexutil.Encode(hash[:])` to get the hex string for that extrinsic.

[2022-10-12 13:41] cdamian commented on #303
We don't have a way to directly address your use case, please see the below example of how we extract the timestamp from the `timestamp.set` extrinsic - https://github.com/centrifuge/go-centrifuge/blob/e9937c87e0e87fa19e365a58b77f2f375bef3e8c/identity/v2/service.go#L378

You could do something similar in your case.

[2022-10-12 13:41] #303 closed

[2022-10-19 02:55] bhaagiKenpachi opened #304 "submit batch transaction"
I want to submit a batch tx which consists of 2 txs. One tx is system::remark and balances::transfer. Is there any function to submit batch tx?

[2022-10-19 10:19] cdamian commented on #304
Hi @bhaagiKenpachi,

Please see the below example:

[code]

[2022-10-19 11:49] bhaagiKenpachi commented on #304
@cdamian Thanks for your quick response. Will try and let you know.

[2022-10-20 13:19] bhaagiKenpachi commented on #304
@cdamian In the code you got hash of block 0. Should I also do the same for any scenario or should I get latest block?

[2022-10-20 13:38] cdamian commented on #304
@bhaagiKenpachi for the genesis hash you always need the first block.

[2022-10-20 14:01] bhaagiKenpachi commented on #304
@cdamian So it should always be genesis hash or I should include latest block hash?

[2022-10-20 14:04] cdamian commented on #304
@bhaagiKenpachi for signature options, yes.

[2022-10-20 14:05] bhaagiKenpachi commented on #304
What about above question?

[2022-10-20 14:06] bhaagiKenpachi commented on #304
@cdamian  So it should always be genesis hash at blockhash or I should include latest block hash near blockhash?
What about above question?

[2022-10-20 14:09] cdamian commented on #304
@bhaagiKenpachi genesis hash is mandatory in the signature opts.

If you are using immortal eras, that one should be the genesis hash. If you were using mortal eras then a different block hash would have to be used.

[2022-10-20 15:20] cdamian commented on #304
@bhaagiKenpachi mortal eras are a WIP for us at this point - https://github.com/centrifuge/go-substrate-rpc-client/pull/286. We have yet to test the changes in this PR and eventually merge it. You are more than welcome to try it out and also contribute to it.

[2022-10-20 15:30] bhaagiKenpachi commented on #304
@cdamian why did you use storage here?

[2022-10-20 15:34] cdamian commented on #304
To retrieve the account info that is required in the signature opts.

[2022-10-20 16:22] bhaagiKenpachi commented on #304
@cdamian I have sent friend request on discord. Can you please accept?. For faster communication.

[2022-10-20 16:34] mikiquantum commented on #304
@bhaagiKenpachi lets try to keep this conversation as public as possible in case that other people run into the same questions later on.
For further support, please use the public channel on discord. Thanks!

[2022-10-21 04:51] bhaagiKenpachi commented on #304
@cdamian

package main

import (
	"fmt"
	gsrpc "github.com/centrifuge/go-substrate-rpc-client/v4"
	"github.com/centrifuge/go-substrate-rpc-client/v4/signature"
	gsrpcTypes "github.com/centrifuge/go-substrate-rpc-client/v4/types"
	"github.com/centrifuge/go-substrate-rpc-client/v4/types/codec"
	"time"
)

const (
	endpoint = "ws://localhost:9944"
	westend  = "wss://westend-rpc.polkadot.io"
)

func ma

[2022-10-28 06:51] bhaagiKenpachi commented on #304
@cdamian 	call2, err := gsrpcTypes.NewCall(meta, "Balances.transfer", dest, gsrpcTypes.NewU128(*big.NewInt(100000000)))

Still same error

Error: Runtime error: Execution failed: Execution aborted due to trap: wasm trap: wasm `unreachable` instruction executed
WASM backtrace:

    0: 0x4f6cd - <unknown>!rust_begin_unwind
    1: 0x5777 - <unknown>!core::panicking::panic_fmt::h18b15be283411c65
    2

[2022-10-28 07:08] bhaagiKenpachi commented on #304
@cdamian Is this call code for system remark correct?

[code]

[2022-10-28 13:14] bhaagiKenpachi opened #307 "sign extrinsic with ed25519 curve."
I want to sign the extrinsic payload with ed25519 curve. Extrinsic consists of balances::transfer and system::remark pallets. Example: in remark, the message Is "testing", transfer -> x amount.

I have tried the below code but getting error:
[code]

[2022-10-29 17:28] bhaagiKenpachi commented on #304
@cdamian When I'm trying to submit above code transaction. Im getting "invalid transaction" error. Do you know what are the cases that we get above error.

[2022-10-31 14:49] cdamian commented on #304
@bhaagiKenpachi In the last example that you posted above, use a multi address for the destination account:

[code]

[2022-10-31 14:51] cdamian commented on #304
https://gist.github.com/cdamian/cdfe38c7d858f8c899977fcc9ef41b99 - this works on our chain, adding the remark and transferring some amount from Alice to Bob.

[2022-10-31 15:01] bhaagiKenpachi commented on #304
@cdamian Its working with gsrpcTypes.NewAddressFromHexAccountID. I was giving wrong input to get error. After providing correct input its working.

[2022-10-31 15:05] bhaagiKenpachi commented on #307
@cdamian Can you check above error?

[2022-10-31 15:17] cdamian commented on #307
@bhaagiKenpachi We'll have to look into this and get back to you. Unfortunately, I cannot provide an answer at this point.

[2022-11-01 17:07] DmitriyMolch commented on #106
Got the same issue

[2022-11-03 11:14] cdamian commented on #106
@DmitriyMolch which version of this library do you use and which chain are you running?

[2022-11-07 09:50] 1llusion1st opened #308 "incorrect balance response"
Hello everyone. I've created test address in westend network. Topped up it using faucet. https://westend.subscan.io/account/5FpS4PkRzLmJZcwvJM6jxPU3N3481nbnTe6nzFwwQUVvu9LF?tab=transfer. In explorer I see 1WND balance, but if I try to retrive it using rpc func I receive wrong amount.

[code]

and the output:
[code]

amount is 4294967296000000000000 - it's not equal to 1WND

[2022-11-13 02:28] bhaagiKenpachi commented on #307
@cdamian Please let me know status on this. I know you have lot of things on plate but ed25519 signing support would be good.

[2022-11-23 09:31] pramoths opened #312 "unsupported metadata version 14"
Getting unsupported metadata version 14, while creating new RPC client with the local latest substate node.

Current version not supported for the metadata version 14.

Below is the minimal code to reproduce the issue

`package main

import (
	"fmt"

	gsrpc "github.com/centrifuge/go-substrate-rpc-client"
)

func main() {
	api, err := gsrpc.NewSubstrateAPI("ws://127.0.0.1:9944")
	if err != nil {

[2022-11-23 19:29] mikiquantum commented on #312
@pramoths can you try importing as:
[code]

[2022-11-24 10:10] pramoths commented on #312
@mikiquantum thanks its working

[2022-11-24 10:10] #312 closed